<?php
/**
 * CMS-IDE Visual CMS
 *
 * @category   Layouts
 * @package    CMS-IDE
 *  Copyright (C) 2010-2021  Nebojsa Tomic
 *  
 *  This file is part of CMS-IDE.
 *     
 *  CMS-IDE is free software; you can redistribute it and/or
 *  modify it under the terms of the GNU Lesser General Public
 *  License as published by the Free Software Foundation; either
 *  version 3 of the License, or (at your option) any later version.
 *
 *  CMS-IDE is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 *  Lesser General Public License for more details.
 *
 *  You should have received a copy of the GNU Lesser General Public
 *  License along with this library; if not, write to the Free Software
 *  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301  USA
 *
 * 
 * 
 */
 ?>
<?php
echo $this->form;
?>
<script type="text/javascript">

$('#CatNameDivContainer').html('<form id="catNameForm" enctype="application/x-www-form-urlencoded" action="<?php echo $this->host;?>category/rename-cat/cid/<?php echo $this->cid;?>/" method="post"><dl class="zend_form"><dt><label for="catItems" class="optional">' + lang.CatNameTr + ':</label></dt><dd><input type="text" value="<?php echo $this->catName;?>" name="cat_name_lng" style="width:100%;" /><input type="submit" value="Save" style="float:right;" /></dd></dl></form>');
$('#catNameForm').ajaxForm(function(data){
        ajaxEmitMessage(data);
        setTimeout("clickMask()", 1000); //closing all 
});
</script>