/* This file contains legacy code from 2013.
It must be replaced with it's tailwind counterpart.
For now, on version 24.05, lets just leave it like this,
and slowly remove the unnecessary parts bit by bit afterwards. */

.draggable {
  cursor: pointer;
  width: auto;
  height: auto;
  background: transparent;
  padding: 0px;
}

.container {
  padding: 0px;
}

.templateDiv {
  z-index: 0;
}

#fontBigger {
  width: 30px;
  height: 30px;
  background: transparent;
}

#fontSmaller {
  width: 30px;
  height: 30px;
  background: transparent;
}

#rotate {
  min-height: 100vh;
  height:auto;
}


#dialogDiv {
  display: none;
  position: relative;
  left: 0 !important;
  top: 0 !important;
  width: 500px;
  height: auto;
  z-index: 999999;
  border: 1px solid #AAAAAA;
}

.ui-dialog {
  z-index: 999998;
}

.ui-resizable-se, .ui-resizable-se:hover {
  position: absolute;
  cursor: se-resize;
  right: 0;
  bottom: 0;
}

.ui-dialog .ui-dialog-titlebar-close {
  height: 25px;
  margin: -10px 0 0;
  padding: 1px;
  position: absolute;
  right: 0.3em;
  top: 40%;
  width: 25px;
}

.ui-widget-overlay {
  background: url("/images/ui-bg_flat_0_aaaaaa_40x100.png") repeat-x scroll 50% 50% #000000 !important;
  opacity: 0.5 !important;
  z-index: 999991 !important;
}

span.ui-button-text {
  display: none !important;
}

#closeDialogDiv {
  width: 18px;
  height: 18px;
  background: url(/images/interface/closeB.png) no-repeat;
  text-align: center;
  float: right;
}

#container-workspace {
  width: 100%;
  height: 100dvh;
  overflow-y: auto;
}

#droppable {
  position: relative;
  z-index: 2;
  top: 0;
  /*height: 100dvh;*/
  height: auto;
  min-height: 100dvh;

  padding: 0px;
  padding-bottom: 4rem;
  margin: 0 auto;
}

/* too thin native scrollbar on mobile browsers */
.simplebar-track {
  background: transparent;
  width: 15px !important;
  visibility: visible !important;
}

#droppable2 {
  position: relative;
  z-index: 2;
  float: left;
  left: 0;
  top: 0;
  min-width: 100%;
  width: 100%;
  height: auto;
  min-height: 100%;
  background: blue;
  padding: 0px;
  border: 2px dotted lightblue;
}

#templateMask { /* must rethink this concept */
  /*position: absolute;*/
  position: relative;
  z-index: 2;
  top: 0;
  width: 100%;
  height: 100%;
  min-height: 900px;
  background: transparent;
  padding: 0px;
  border: 0px dotted red;
  margin: 0 auto;
  display: none ; /* must rethink this concept */
}

#downPointer {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 65px;
  height: 65px;
  z-index: 199998;
  background: url(//images/interface/down.png) no-repeat;
}

#toolbox {
  float: left;
  width: 100px;
  height: auto;
}

#toggleProperties {
  z-index: 999997;
}

#newItem {
  z-index: 999997;
}

#cloneItem {
  z-index: 999997;
}

#moveProps {
  opacity: 0.8;
  position: fixed;
  padding: 5px;
  text-align: center;
  color: yellow;
  font-weight: bold;
  cursor: pointer;
  right: 5px;
  top: 38px;
  width: 60px;
  height: 20px;
  background: silver;
  z-index: 999997;
  border: 1px solid #e7e7e7;
}

#rightB {
  cursor: pointer;
  border: 0;
  width: 20px;
  height: 15px;
  background: silver url(/images/interface/arrow_right.png) no-repeat center;
}

#leftB {
  cursor: pointer;
  border: 0;
  width: 20px;
  height: 15px;
  background: silver url(/images/interface/arrow_left.png) no-repeat center;
}

#upB {
  cursor: pointer;
  border: 0;
  width: 20px;
  height: 15px;
  background: silver url(/images/interface/arrow_up.png) no-repeat center;
}

#downB {
  cursor: pointer;
  border: 0;
  width: 20px;
  height: 15px;
  background: silver url(/images/interface/arrow_down.png) no-repeat center;

}

#logout {
  z-index: 999997;
}

#delButton {
  ;z-index: 999997;
}

#helpButton {
  position: fixed;
  right: 125px;
  top: 5px;
}

#helpDiv {
  opacity: 0.8;
  display: none;
  text-align: center;
  color: white;
  font-size: 15px;
  top: 5px;
  width: 500px;
  height: 50px;

  z-index: 999997;
}

#updateContentButton {
  z-index: 999997;
}

#toggleProperties:hover {
  z-index: 999997;
}

#contPropertiesLeft {
  position: fixed;
  z-index: 199999; /* for now let it be the same as #contProperties */
}

#contProperties {
  bottom: 0px;
  z-index: 199999;
  height: auto;
  min-height: 100px;
}

#contProperties #tabs-navigation {
  z-index: 9;
}

#propertiesLeft {
  float: left;
  width: 400px;
  border: 0px solid green;
  display: none;
}

#footer {
  float: left;
  width: 100%;
  height: auto;
}

#ajax-loader {
  display: none;
  position: absolute;
  left: 860px;
  top: 340px;
  width: 70px;
  height: 70px;
  background: transparent url(/images/ajax-loader.gif) no-repeat;
  z-index: 999999;
}

.ajax-loader {
  display: none;
}

#adminAjaxLoader {
  display: none;
  width: 70px;
  height: 70px;
  background: transparent;
  margin: 0 auto;
}

.a_delete {
  text-decoration: none;
}


.a_new {
  text-decoration: none;
  background: transparent url(/images/interface/new.gif) no-repeat;
  padding-left: 25px;
  cursor: pointer;
  color: #555555;
}

.a_generateCache {
  text-decoration: none;
  background: transparent url(/images/interface/generate_cache.gif) no-repeat;
  padding-left: 25px;
  cursor: pointer;
  color: #555555;
}

/*manage all pages style*/

.a_redraw {
  text-decoration: none;
  color: #555555
}

.a_logout {
  text-decoration: none;
  color: white
}

.a_new:hover {
  text-decoration: none;
  background: transparent url(/images/interface/new.gif) no-repeat;
  padding-left: 25px;
  cursor: pointer;
  color: #3d4752 ;
}

.a_clear:hover {
  text-decoration: none;
  color: #3d4752
}

.a_redraw:hover {
  text-decoration: none;
  color: #3d4752
}

#banner {
  min-height: 200px
}

#banner_current {
  display: none;
}

.activeObject {
  opacity: 1;
/*  border: 1px solid red;*/
}

#rotate div.expanderDiv {
  background: transparent url(/images/interface/expander.gif) no-repeat;
  cursor: pointer;
}

#rotate div.expanderDivClosed {
  background: transparent url(/images/interface/expanderClosed.gif) no-repeat;
  cursor: pointer;
}

#rotate div.expanderFullScr {
  background: transparent url(/images/interface/expanderFullScr.gif) no-repeat;
  cursor: pointer;
}


.pagnext {
  text-decoration: none;

  padding-right: 20px;
  cursor: pointer;
  color: #3d4752
}

.pagback {
  text-decoration: none;

  padding-left: 20px;
  cursor: pointer;
  color: #3d4752
}

#rotate #tree div {
  margin-left: -15px;
  margin-right: 0px;
  padding: 0px;
  width: 15px;
  height: 15px;
  background-image: url(/images/treeview-default.gif);
}

#fragment-1 span.cl {
  align-content: center;
}

#langName-label { display:none; }

div.selector span {
  padding-right: 0px !important;
  padding-left: 3px !important;
  margin-left: 0px;
}

.ui-dialog .ui-dialog-titlebar-close span {
  display: block;
  margin: 2px;
  width: 15px;
}

.ui-dialog {
  position: fixed !important;
}

.ui-dialog legend {
  margin-left: 10px;
  float: left;
  margin-left: 5px;
}

.marginBottom5 {
  margin-bottom: 5px;
  float: left;
}

#addMenuItForm {
  float: left;
}

#dialogDivImages { /* temp fix, should be resolved differently */
  width: 100% !important;
  height:100% !important;
}

#TB_window {
  z-index: 999998 !important;
}

#TB_window {
  position: fixed;
  display: none;
  border: 0;
  top: 4rem !important;
  left: 0 !important;
  height: 100% !important;
  width: 100% !important;
  margin: 0 !important;
}

/* hide scrollbar of Properties panel */
#properties::-webkit-scrollbar {
  display: none;
}
#properties {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* coloris fix */
#clr-picker { z-index: 999999; position: fixed; }
