<?php
/**
 * CMS-IDE Visual CMS
 *
 * @category   Layouts
 * @package    CMS-IDE
 *  Copyright (C) 2010-2021  Nebojsa Tomic
 *  
 *  This file is part of CMS-IDE.
 *     
 *  CMS-IDE is free software; you can redistribute it and/or
 *  modify it under the terms of the GNU Lesser General Public
 *  License as published by the Free Software Foundation; either
 *  version 3 of the License, or (at your option) any later version.
 *
 *  CMS-IDE is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 *  Lesser General Public License for more details.
 *
 *  You should have received a copy of the GNU Lesser General Public
 *  License along with this library; if not, write to the Free Software
 *  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301  USA
 *
 * 
 * 
 */
 ?>
<?php 

$menu_items = $this->menu_items;

//print_r($menu_items);


//print_r($this->menu);
//echo "ja";
           $host = $this->host;
            $linkType = 'href';
            $target = "_blank";


echo '<ul id="menu">';
foreach($this->menus as $menus => $k) {
echo '<li class="liMenu" id="'.$k['item_id'].'">';
        //generate link if there is such
        if ($k['url_en'] != '' ) {
                echo    '<a class="link" target="' .$target . '" ' . $linkType. '="' . $host .$k['url_en'].'" alt="' .  $k['description'] .
                        '" name="'.$k['name_en']. '">'.$k['name_en'].'</a>';
        } else {
                echo    '<a class="link" target="' .$target . '" ' . $linkType. '="' . $this->host . '" alt="' .  $k['description'] . '" name="'.$k['name_en']. '">'.$k['name_en'].'</a>';
        }

        echo '</li>';


        //if there is submenu generate submenu links//SUBLEVEL 1
        if (count(@$menu_items[$k['item_id']])) {
        

                echo '<div  class="submenu" id="submenu_'.$k['item_id'].'" style="display:none">';
                echo '<ul>';
                        foreach($menu_items[$k['item_id']] as $sub => $s) {
                            echo '<li id="'.$s['item_id'].'" ><a ' . $linkType. '="' . $host . $s['url'] . '"  target="' .$target . '" class="link"  name="' . $s['name'] . '" alt="' .  $s['description'] . '">' . $s['name'] . '</a></li> ';

                                    //SUBLEVEL 2
                                    if (count(@$menu_items[$s['item_id']])) {
                                        echo '<div  class="submenu2" id="submenu2_'.$s['item_id'].'" style="display:none">';
                                        echo '<ul>';                                    
                                        foreach($menu_items[$s['item_id']] as $sub2 => $s2) {
                                            echo '<li id="'.$s2['item_id'].'" ><a ' . $linkType. '="' . $host . $s2['url'] . '"  target="' .$target . '" class="link"  name="' . $s2['name'] . '" alt="' .  $s2['description'] . '">' . $s2['name'] . '</a></li> ';
                                            
                                            //SUBLEVEL 3
                                            if (count(@$menu_items[$s2['item_id']])) {                                        
                                                echo '<div  class="submenu3" id="submenu3_'.$s2['item_id'].'" style="display:none">';
                                                echo '<ul>';                                    
                                                foreach($menu_items[$s2['item_id']] as $sub3 => $s3) {
                                                    echo '<li id="'.$s3['item_id'].'" ><a ' . $linkType. '="' . $host . $s3['url'] . '"  target="' .$target . '" class="link"  name="' . $s3['name'] . '" alt="' .  $s3['description'] . '">' . $s3['name'] . '</a></li> ';
                                            
                                                }
                                                echo '</ul>';
                                                echo "</div>";                                                
                                                
                                            }
                                            
                                                                                    
                                        }
                                        echo '</ul>';
                                        echo "</div>";

                                    }


                        }
                echo '</ul>';
                echo "</div>";
        }




}
echo '</ul>';


