<?php
/**
 * CMS-IDE Visual CMS
 *
 * @category   Layouts
 * @package    CMS-IDE
 *  Copyright (C) 2010-2021  Nebojsa Tomic
 *  
 *  This file is part of CMS-IDE.
 *     
 *  CMS-IDE is free software; you can redistribute it and/or
 *  modify it under the terms of the GNU Lesser General Public
 *  License as published by the Free Software Foundation; either
 *  version 3 of the License, or (at your option) any later version.
 *
 *  CMS-IDE is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 *  Lesser General Public License for more details.
 *
 *  You should have received a copy of the GNU Lesser General Public
 *  License along with this library; if not, write to the Free Software
 *  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301  USA
 *
 * 
 * 
 */
 ?>
<?php
$i=1;
?>

<?php if ($this->pageCount > 1): ?>
<div id="paginationControl">
&nbsp;PAGE <span class="current"><?php echo $this->current;?></span>/<span class="total"><?php echo $this->pageCount;?></span>
<br />
<!-- Previous page link -->
<a class="pagback arrows pag_a" href="<?php echo $this->params['host'];?>search/index/what/<?php echo $this->params['what'];?>/page/<?php echo $this->previous;?>"> <?php echo 'Back';?></a> &nbsp;&nbsp;

<!-- Numbered page links -->
<?php foreach ($this->pagesInRange as $page): ?>
    <?php echo '<!--' . $this->route . '-->';?>
    <?php
    if($page == $this->current){
        $style = "font-weight:bold;text-decoration:none;";
    } else {
        $style = "font-weight:normal;text-decoration:underline;";    
    }
    ?>
    
     <a style="<?php echo $style;?>" class="pag_a" href="<?php echo $this->params['host'];?>search/index/what/<?php echo $this->params['what'];?>/page/<?= $page; ?>" value=""><?= $page; ?></a> &nbsp;
<?php endforeach; ?>
&nbsp;&nbsp;

<!-- Next page link -->
<a class="pagnext arrows pag_a" href="<?php echo $this->params['host'];?>search/index/what/<?php echo $this->params['what'];?>/page/<?php echo $this->next;?>" ><?php echo 'Next';?></a>

</div>

<?php
$i++;
?>

<?php endif; ?>
