<?php
/**
 * CMS-IDE Visual CMS
 *
 * @category   Layouts
 * @package    CMS-IDE
 *  Copyright (C) 2010-2021  Nebojsa Tomic
 *  
 *  This file is part of CMS-IDE.
 *     
 *  CMS-IDE is free software; you can redistribute it and/or
 *  modify it under the terms of the GNU Lesser General Public
 *  License as published by the Free Software Foundation; either
 *  version 3 of the License, or (at your option) any later version.
 *
 *  CMS-IDE is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 *  Lesser General Public License for more details.
 *
 *  You should have received a copy of the GNU Lesser General Public
 *  License along with this library; if not, write to the Free Software
 *  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301  USA
 *
 * 
 * 
 */
 ?>
<h1 class="searchHeaading">Search results</h1>
<br />
<div id="searchResults">
<?php
$host = $this->host;
//$host = $this->host;

//print_r($this->hits);
//echo $this->currentPageNumber . "**";
if (count($this->hits)) {
    if($this->pageNumber == '1'){//ako je prva strana
        $strKoef = 0;
    } else {
        $strKoef = ($this->pageNumber-1) * $this->itemCountPerPage;    
    }
    
    foreach ($this->hits as $k => $hit) {
        echo ($strKoef + ($k +1) ) . '.<br /><a class="componentLink" href="' . $host . @$hit['url'] . '">  '  . @$hit['title'] . '</a><br />' ;
        echo  @$hit['teaser'] . "" ;
        echo '<div class="horizontalLine" style="width:100%;"></div>';

    }
?>
<br /><br />
<?php echo($this->paginationControl($this->hits, 'Sliding', 'paginatorSearch.phtml', array('params' => array('host' => $this->host, 'what' => $this->keyword) ) )); ?>
<?php
} else {
    echo   "<h2>No results for:" . $this->keyword . "</h2>" ;

}
?>
</div>
