<?php
/**
 * CMS-IDE Visual CMS
 *
 * @category   Layouts
 * @package    CMS-IDE
 *  Copyright (C) 2010-2021  Nebojsa Tomic
 *  
 *  This file is part of CMS-IDE.
 *     
 *  CMS-IDE is free software; you can redistribute it and/or
 *  modify it under the terms of the GNU Lesser General Public
 *  License as published by the Free Software Foundation; either
 *  version 3 of the License, or (at your option) any later version.
 *
 *  CMS-IDE is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 *  Lesser General Public License for more details.
 *
 *  You should have received a copy of the GNU Lesser General Public
 *  License along with this library; if not, write to the Free Software
 *  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301  USA
 *
 * 
 * 
 */
 ?>
<?php
if(!empty($this->menus)){
?>

<div style="overflow:hidden;height:350px;max-height:350px;background:transparent;color:black;padding:0;margin:0;" id="banner">

<?php
//print_r($this->menus);
$i = 0;

    foreach ($this->menus as $item) {
    $left = 1000*$i;
    ?>
    
    <div class="banners" style="overflow:hidden;display:none;height:100%;position: absolute;margin:0; margin-left:<?php echo $left;?>px; z-index:<?php echo $i;?>; opacity: 1;  width:100%;float:left;" id="banner_00<?php echo $i;?>">
    
    <?php echo $item['output'];?>
    </div>
    
    <?php
    $i++;
    }
    ?>
    
    
    </div>
    
    <div class="banner_paging"  style="width:100%;height:50px;padding:0;margin:0;" id="Slideshow">
    
        <div  class="slideNavig" style="height:10px;">
        
        <img  src="<?php echo $this->host;?>images/dn_banner_arrow_current.png" alt="" id="banner_current"  />
        </div>
        
        <div  class="slideNavig" style="height:50px;margin:0 auto;">
        
        <?php
        $i = 0;
        foreach ($this->menus as $item) {
        ?>
        <h1 style="width:auto;float:left;cursor:pointer;" class="slideLinks" title="<?php echo $i;?>"><?php echo $item['name'] ;?></h1>
        <?php
        $i++;
        }
        ?>
        </div>
    
    
    </div>

<?php
}




