.adminTable{
border:1px solid #555555;
text-align:left;
vertical-align:top;
width:100%;
min-width:500px;
}

.adminTable th{
background:#f4f4f4;
text-align:center;
}


.adminTable tr{
border:1px solid #555555;
text-align:left;
vertical-align:top;

}

.adminTable tr:odd{
background:#f4f4f4;
}

.adminTable tr td{
text-align:center;
vertical-align:top;


}
.adminTable tr td p{
margin:0;
}

