div.rating-cancel,div.star-rating{float:left;width:17px;height:15px;text-indent:-999em;cursor:pointer;display:block;background:transparent;overflow:hidden;}
div.rating-cancel,div.rating-cancel a{background:url(delete.gif) no-repeat 0 -16px;}
div.star-rating,div.star-rating a{background:url(star.gif) no-repeat 0 0;}
div.rating-cancel a,div.star-rating a{display:block;width:16px;height:100%;background-position:0 0;border:0;}
div.star-rating-on a{background-position:0 -16px!important;}
div.star-rating-hover a{background-position:0 -32px;}
div.star-rating-readonly a{cursor:default!important;}
div.star-rating{background:transparent!important;overflow:hidden!important;}
/*
ul.jd_menu,ul.jd_menu_vertical{margin:0;padding:0;list-style-type:none;position:relative;float:left;width:100%;}
ul.jd_menu ul,ul.jd_menu_vertical ul{display:none;}
ul.jd_menu li{float:left;width:100%;}
ul.jd_menu_vertical{width:100%;}
ul.jd_menu_vertical li{float:none;width:100%;}
ul.jd_menu ul,ul.jd_menu_vertical ul{position:absolute;display:none;list-style-type:none;margin:0;padding:0;z-index:10000;}
ul.jd_menu ul li,ul.jd_menu_vertical ul li{float:none;margin:0;}
ul.jd_menu,ul.jd_menu ul,ul.jd_menu_vertical,ul.jd_menu_vertical ul{background-color:#369;border:1px solid #036;border-top:1px solid #69C;border-left:1px solid #69C;}
ul.jd_menu_vertical{height:auto;}
ul.jd_menu ul{width:150px;height:auto;}
* html ul.jd_menu ul{width:1%;}
ul.jd_menu li{font-family:sans-serif;font-size:12px;color:#FFF;line-height:14px;margin:0;padding:4px 7px 3px 7px;height:13px;width:auto;cursor:pointer;white-space:nowrap;}
ul.jd_menu li li{width:auto;}
ul.jd_menu li a{color:#FFF;text-decoration:none;}
*/
/*ul.jd_menu li.jdm_hover,ul.jd_menu li.jdm_active{background-color:#69C;color:#FFF;padding:3px 6px 2px 6px;border:1px solid #369;border-left:1px solid #9CF;border-top:1px solid #9CF;}*/
.treeview{PADDING-BOTTOM:0;LIST-STYLE-TYPE:none;MARGIN:0;PADDING-LEFT:0;PADDING-RIGHT:0;LIST-STYLE-IMAGE:none;PADDING-TOP:0;}
.treeview UL{PADDING-BOTTOM:0;LIST-STYLE-TYPE:none;MARGIN:0;PADDING-LEFT:0;PADDING-RIGHT:0;LIST-STYLE-IMAGE:none;PADDING-TOP:0;}
.treeview UL{BACKGROUND:transparent;MARGIN-TOP:4px;}
.treeview .hitarea{WIDTH:16px;BACKGROUND:transparent url(../../images/treeview-default.gif) no-repeat -64px -25px;FLOAT:left;HEIGHT:16px;MARGIN-LEFT:-16px;CURSOR:pointer;}
* HTML .hitarea{DISPLAY:inline;FLOAT:none;}
.treeview LI{PADDING-BOTTOM:3px;MARGIN:0;PADDING-LEFT:16px;PADDING-RIGHT:0;PADDING-TOP:3px;}
.treeview A.selected{BACKGROUND-COLOR:#eee;}
#treecontrol{MARGIN:1em 0;DISPLAY:none;}
.treeview .hover{COLOR:red;CURSOR:pointer;}
.treeview LI{BACKGROUND:url(../../images/treeview-default-line.gif) no-repeat 0 0;}
.treeview LI.collapsable{BACKGROUND-POSITION:0 -176px;}
.treeview LI.expandable{BACKGROUND-POSITION:0 -176px;}
.treeview .expandable-hitarea{BACKGROUND-POSITION:-80px -3px;}
.treeview LI.last{BACKGROUND-POSITION:0 -1766px;}
.treeview LI.lastCollapsable{BACKGROUND-IMAGE:url(../../images/treeview-default.gif);}
.treeview LI.lastExpandable{BACKGROUND-IMAGE:url(../../images/treeview-default.gif);}
.treeview LI.lastCollapsable{BACKGROUND-POSITION:0 -111px;}
.treeview LI.lastExpandable{BACKGROUND-POSITION:-32px -67px;}
.treeview DIV.lastCollapsable-hitarea{BACKGROUND-POSITION:0 50%;}
.treeview DIV.lastExpandable-hitarea{BACKGROUND-POSITION:0 50%;}
.treeview-red LI{BACKGROUND-IMAGE:url(../../images/treeview-red-line.gif);}
.treeview-red .hitarea{BACKGROUND-IMAGE:url(../../images/treeview-red.gif);}
.treeview-red LI.lastCollapsable{BACKGROUND-IMAGE:url(../../images/treeview-red.gif);}
.treeview-red LI.lastExpandable{BACKGROUND-IMAGE:url(../../images/treeview-red.gif);}
.treeview-black LI{BACKGROUND-IMAGE:url(../../images/treeview-black-line.gif);}
.treeview-black .hitarea{BACKGROUND-IMAGE:url(../../images/treeview-black.gif);}
.treeview-black LI.lastCollapsable{BACKGROUND-IMAGE:url(../../images/treeview-black.gif);}
.treeview-black LI.lastExpandable{BACKGROUND-IMAGE:url(../../images/treeview-black.gif);}
.treeview-gray LI{BACKGROUND-IMAGE:url(../../images/treeview-gray-line.gif);}
.treeview-gray .hitarea{BACKGROUND-IMAGE:url(../../images/treeview-gray.gif);}
.treeview-gray LI.lastCollapsable{BACKGROUND-IMAGE:url(../../images/treeview-gray.gif);}
.treeview-gray LI.lastExpandable{BACKGROUND-IMAGE:url(../../images/treeview-gray.gif);}
.treeview-famfamfam LI{BACKGROUND-IMAGE:url(../../images/treeview-famfamfam-line.gif);}
.treeview-famfamfam .hitarea{BACKGROUND-IMAGE:url(../../images/treeview-famfamfam.gif);}
.treeview-famfamfam LI.lastCollapsable{BACKGROUND-IMAGE:url(../../images/treeview-famfamfam.gif);}
.treeview-famfamfam LI.lastExpandable{BACKGROUND-IMAGE:url(../../images/treeview-famfamfam.gif);}
.filetree LI{PADDING-BOTTOM:2px;PADDING-LEFT:16px;PADDING-RIGHT:0;PADDING-TOP:3px;}
.filetree SPAN.folder{PADDING-BOTTOM:1px;PADDING-LEFT:16px;PADDING-RIGHT:0;DISPLAY:block;PADDING-TOP:1px;}
.filetree SPAN.file{PADDING-BOTTOM:1px;PADDING-LEFT:16px;PADDING-RIGHT:0;DISPLAY:block;PADDING-TOP:1px;}
.filetree SPAN.folder{BACKGROUND:url(../../images/folder.gif) no-repeat 0 0;}
.filetree LI.expandable SPAN.folder{BACKGROUND:url(../../images/folder-closed.gif) no-repeat 0 0;}
.filetree SPAN.file{BACKGROUND:url(../../images/file.gif) no-repeat 0 0;}
.colorpicker{width:356px;height:176px;overflow:hidden;position:absolute;z-index:999999;background:url(../images/colorpicker/colorpicker_background.png);font-family:Arial,Helvetica,sans-serif;display:none;}
.colorpicker_color{width:150px;height:150px;left:14px;top:13px;position:absolute;background:#f00;overflow:hidden;cursor:crosshair;}
.colorpicker_color div{position:absolute;top:0;left:0;width:150px;height:150px;background:url(../images/colorpicker/colorpicker_overlay.png);}
.colorpicker_color div div{position:absolute;top:0;left:0;width:11px;height:11px;overflow:hidden;background:url(../images/colorpicker/colorpicker_select.gif);margin:-5px 0 0 -5px;}
.colorpicker_hue{position:absolute;top:13px;left:171px;width:35px;height:150px;cursor:n-resize;}
.colorpicker_hue div{position:absolute;width:35px;height:9px;overflow:hidden;background:url(../images/colorpicker/colorpicker_indic.gif) left top;margin:-4px 0 0 0;left:0;}
.colorpicker_new_color{position:absolute;width:60px;height:30px;left:213px;top:13px;background:#f00;}
.colorpicker_current_color{position:absolute;width:60px;height:30px;left:283px;top:13px;background:#f00;}
.colorpicker input{background-color:transparent;border:1px solid transparent;position:absolute;font-size:10px;font-family:Arial,Helvetica,sans-serif;color:#898989;top:4px;right:11px;text-align:right;margin:0;padding:0;height:11px;}
.colorpicker_hex{position:absolute;width:72px;height:22px;background:url(../images/colorpicker/colorpicker_hex.png) top;left:212px;top:142px;}
.colorpicker_hex input{right:6px;}
.colorpicker_field{height:22px;width:62px;background-position:top;position:absolute;}
.colorpicker_field span{position:absolute;width:12px;height:22px;overflow:hidden;top:0;right:0;cursor:n-resize;}
.colorpicker_rgb_r{background-image:url(../images/colorpicker/colorpicker_rgb_r.png);top:52px;left:212px;}
.colorpicker_rgb_g{background-image:url(../images/colorpicker/colorpicker_rgb_g.png);top:82px;left:212px;}
.colorpicker_rgb_b{background-image:url(../images/colorpicker/colorpicker_rgb_b.png);top:112px;left:212px;}
.colorpicker_hsb_h{background-image:url(../images/colorpicker/colorpicker_hsb_h.png);top:52px;left:282px;}
.colorpicker_hsb_s{background-image:url(../images/colorpicker/colorpicker_hsb_s.png);top:82px;left:282px;}
.colorpicker_hsb_b{background-image:url(../images/colorpicker/colorpicker_hsb_b.png);top:112px;left:282px;}
.colorpicker_submit{position:absolute;width:22px;height:22px;background:url(../images/colorpicker/colorpicker_submit.png) top;left:322px;top:142px;overflow:hidden;}
.colorpicker_focus{background-position:center;}
.colorpicker_hex.colorpicker_focus{background-position:bottom;}
.colorpicker_submit.colorpicker_focus{background-position:bottom;}
.colorpicker_slider{background-position:bottom;}
HTML{PADDING-BOTTOM:0;MARGIN:0;PADDING-LEFT:0;PADDING-RIGHT:0;HEIGHT:100%;PADDING-TOP:0;}
#banner{BORDER-BOTTOM:#ccc 1px solid;TEXT-ALIGN:center;PADDING-BOTTOM:15px;PADDING-LEFT:15px;PADDING-RIGHT:15px;BACKGROUND:url(bg.gif) repeat-x;COLOR:white;FONT-SIZE:large;PADDING-TOP:15px;}
#banner A{COLOR:white;}
#main{PADDING-BOTTOM:1em;PADDING-LEFT:1em;PADDING-RIGHT:1em;PADDING-TOP:1em;}
A IMG{BORDER-BOTTOM:medium none;BORDER-LEFT:medium none;BORDER-TOP:medium none;BORDER-RIGHT:medium none;}
#jquery-overlay{position:absolute;top:0;left:0;z-index:99999;width:100%;height:500px;}
#jquery-lightbox{position:absolute;top:0;left:0;width:100%;z-index:999999;text-align:center;line-height:0;}
#jquery-lightbox a img{border:none;}
#lightbox-container-image-box{position:relative;background-color:#fff;width:250px;height:250px;margin:0 auto;}
#lightbox-container-image{padding:10px;}
#lightbox-loading{position:absolute;top:40%;left:0;height:25%;width:100%;text-align:center;line-height:0;}
#lightbox-nav{position:absolute;top:0;left:0;height:100%;width:100%;z-index:10;}
#lightbox-container-image-box>#lightbox-nav{left:0;}
#lightbox-nav a{outline:none;}
#lightbox-nav-btnPrev,#lightbox-nav-btnNext{width:49%;height:100%;/*zoom:1;*/display:block;}
#lightbox-nav-btnPrev{left:0;float:left;}
#lightbox-nav-btnNext{right:0;float:right;}
#lightbox-container-image-data-box{font:10px Verdana,Helvetica,sans-serif;background-color:#fff;margin:0 auto;line-height:1.4em;overflow:auto;width:100%;padding:0 10px 0;}
#lightbox-container-image-data{padding:0 10px;color:#666;}
#lightbox-container-image-data #lightbox-image-details{width:70%;float:left;text-align:left;}
#lightbox-image-details-caption{font-weight:bold;}
#lightbox-image-details-currentNumber{display:block;clear:left;padding-bottom:1.0em;}
#lightbox-secNav-btnClose{width:66px;float:right;padding-bottom:.7em;}