/*THIS SHOULDN'T BE MESSED WITH - BEGIN*/
/* za body ie
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
*/
        body{min-width:1080px;font-size:11px;font-family:Arial;background: #ffffff;}        
        h1{font-size:20px;}
        #centerWrapper{position:relative;width:1080px;min-height:600px;margin:0 auto;border:0px solid red;}
        .draggable { position:absolute;width: auto; min-height: 25px;height:auto; background: transparent; padding: 0px;float:left;color: black; overflow:hidden;}
        .container {  padding: 0px; margin:0;width:100%;}
        #container {  padding: 0px; margin:0;}
        .templateDiv {position:absolute;border:0px solid green;z-index:0;}        
        #footer {float:left;width:100%;height:auto;}        
        /*#ajax-loader{display:none;position:absolute;left: 860px; top: 340px;width:70px;height:70px;background:transparent url(<?php echo $this->host;?>images/ajax-loader.gif) no-repeat;z-index:999999;}*/
        .ajax-loader{display:none;}    
        #banner{min-height:200px}
        #banner_current{display:none;}
        .objContent{}
        .activeObject{opacity:1;border:1px solid red;}
        .inactiveObject{opacity:0.2;}
        .universalTableAdmin {border:1px solid #555555;width:100%;}
        .universalTableAdmin th {border:1px solid silver;background:white;}
        /*.universalTableAdmin tr {text-align:center;background:#f4f4f4;}*/
        .utaNormal {background:#f4f4f4;text-align:center;}
        .utaHover {background:#cccccc;text-align:center;}                  
        .zend_form textarea{width:400px;height:150px;background:#f4f4f4;border:1px solid #555555;}
        .zend_form input[type=text]{padding: 5px; border-radius: 5px 5px 5px 5px;width:100%;height:15px;background:#f4f4f4;border:1px solid #AAAAAA;}
        .zend_form input[type=password]{padding: 5px; border-radius: 5px 5px 5px 5px;width:100%;height:15px;background:#f4f4f4;border:1px solid #555555;}
        .zend_form input[type=submit]{width:auto;height:auto;background:#555555;border:1px solid silver;color:white; padding: 5px; border-radius: 5px 5px 5px 5px;}
        .zend_form input[type=submit]:hover{width:auto;background:#f4f4f4;border:1px solid silver;color:#555555;}              
        input{}
        .loginFormNet input{width:140px;background:lightblue;opacity:0.8;border:1px solid #555555;padding:2px;padding-left:4px;}        
        .contactForm textarea{width:400px;height:150px;background:#f4f4f4;border:1px solid #555555;}
        .contactForm input[type=text]{width:400px;height:15px;background:#f4f4f4;border:1px solid #555555;}
        .contactForm input[type=submit]{width:70px;height:25px;background:#555555;border:1px solid silver;color:white;}
        .contactForm input[type=submit]:hover{width:70px;height:25px;background:#f4f4f4;border:1px solid silver;color:#555555;}        
        .langLinks{color:white;}
        .langLinks:hover{color:#cccccc;}
        .OFvisible dl{overflow:visible;}
        ul li{list-style:none;}
        .jd_menu ul li{list-style: none;}
        .jd_menu ul {position:absolute;}
        .install {background:#ffffff !important;padding-top:30px;}
        .install .goToSite{display:block;float: left;width:100%;height:auto;padding:30px;margin-top:30px;border:1px solid silver;}
        .install .goToSite a{display:block;margin-left:20px;float: left;}
        .install * {font-family:Arial; font-size:12px;text-decoration: none;color:#0066cc;}
        .install legend{margin-top:20px;}
        .install h1{font-family:Arial; font-size:21px;margin-bottom: 30px;margin-top: 30px;color:#0066cc;}
        .install h1 span{margin-left:30px;}
        .install .footerInstall{display:block;text-align:right;margin-top:30px;float:right;padding-right: 10%;}
        .install .footerInstall p{display:block;text-align:right;margin-top:30px;padding-right: 10%;color:#0066cc;}
        .install .footerInstall p, .install .footerInstall a{ font-size: 12px !important;font-weight: bold;}
        .install .footerInstall p{font-weight: normal; padding-right: 0;}
        .install button{margin: 20px 0 0 -3px !important;}
        .install a:hover{color:#094979;}
        .install .ui-tooltip{box-shadow:2px 2px 2px  #0066cc;border:1px solid #0066cc;}
        .install button.jqTransformButton span span{color:#0066cc ;}
        
/*THIS SHOULDN'T BE MESSED WITH - END*/


#net_110_2_29_0_58_22 #sdb{
background:white;
width:18%;
position:static;
height:100%;
min-height:300px;
float:left;
padding:20px;
/*
-moz-border-radius-bottomleft:8px;
-moz-border-radius-bottomright:8px;
-webkit-border-bottom-left-radius:8px;
-webkit-border-bottom-right-radius:8px;
*/
}
#net_110_2_29_0_58_22 #wrp{
position:static;
background:white;
border:0px dotted red;
width:100%;
height:auto ;
height:100% !important;
float:left;

}

#net_110_2_29_0_58_22 #cnt{
position:static;
background:white;
width:800px;
height:auto !important;
min-height:300px;
float:left;

padding:20px;
/*
-moz-border-radius-bottomleft:8px;
-moz-border-radius-bottomright:8px;
-webkit-border-bottom-left-radius:8px;
-webkit-border-bottom-right-radius:8px;
*/
}



.searchHitsBG{
background:yellow;
}
/*SILVER*/
.silverTheme{
/*color:#555555;*/
color:#f4f4f4;
font-size:12px;
font-family:Arial;
}
.silverTheme.coreTemplate{
color:#f4f4f4;
font-size:12px;
font-family:Arial;
}

.silverTheme a{
color:#555555;
text-decoration:none;
}
.silverTheme a:hover{
color:silver;
text-decoration:none;
}
.silverTheme h1{
color:#555555;
font-size:20px;
font-family:Arial;
}

.silverTheme ul{
border:1px solid #555555;
color:#f4f4f4;
background:#555555;

}
.silverTheme li a{
color:black;
}
.silverTheme ul.jd_menu li.jdm_active {
background:#cccccc;	
color: #FFF;
	
	padding: 10px;
	border: 0px dotted #4b6141;
	border-left: 0px dotted #4b6141;
	border-top: 0px dotted #4b6141;
	
}


.silverTheme ul li ul{
border:0;
width:200px;
}

.silverTheme ul li {
min-width:70px;
padding:10px;
background:none ;
}
.silverTheme ul li:hover{
border:0;
padding:10px;
background:#cccccc;
color:#ffffff;
/*
-moz-border-radius:2px;
-moz-border-radius:2px;
-webkit-border-radius:2px;
-webkit-border-radius:2px;
*/
}
.silverTheme ul.jd_menu li a:hover{
color:white;
text-decoration:none;
}

.silverTheme ul li ul li{
background:#f4f4f4;
color:#555555;
}
.silverTheme ul li ul li:hover{
border:0;
padding:10px;
background:#cccccc;
color:#ffffff;
/*
-moz-border-radius-topleft:0px;
-moz-border-radius-topright:0px;

-webkit-border-top-left-radius:0px;
-webkit-border-top-right-radius:0px;
*/
}
.silverTheme ul li ul li a{
color:#555555;
}


/*images Gallery*/
.silverTheme div.lb div.lbImage{
width:60px;
height:49px;
overflow:hidden;
margin:1px;
}
.silverTheme div.lb div.lbImage:hover{
opacity:0.7;
/*filter:alpha(opacity=70)*/;
}

/*slideshow*/
.silverTheme #Slideshow div h1{
font-family:Arial;
font-size:12px;
color:white;

}
.silverTheme #Slideshow{
background:#555555;
width:800px;
top:0px;

}
.silverTheme #Slideshow h1:hover{
/*color:#cccccc;*/
}
/*searchform*/

.silverTheme #searchForm .zend_form input[type=text]{
background:#555555;
color:#ffffff;
}
.silverTheme #searchForm .zend_form input[type=submit]{
background:url(../images/btnSearch.png);
color:#ffffff;
width:65px;
height:65px;
position:relative;z-index:999999;
right:0px;
}
/*WHITE*/
.whiteTheme{
color:#f4f4f4;
font-size:12px;
font-family:Arial;
}
.whiteTheme a{
color:#f4f4f4;
text-decoration:none;
}
.whiteTheme a:hover{
color:silver;
text-decoration:none;
}


/*GREEN*/
#net_110_2_29_0_58_22.greenTheme{
  background:#0d5713;
}
#net_110_2_29_0_58_22.greenTheme #wrp{
  background:#0d5713;
}
#net_110_2_29_0_58_22.greenTheme  #sdb{
background:#0d5713;
width:18%;
position:static;
height:100%;
min-height:300px;
float:left;
padding:20px;
/*
-moz-border-radius-bottomleft:8px;
-moz-border-radius-bottomright:8px;
-webkit-border-bottom-left-radius:8px;
-webkit-border-bottom-right-radius:8px;
*/
}
#net_110_2_29_0_58_22.greenTheme #cnt{
position:static;
background:white;
width:800px;
height:auto !important;
min-height:300px;
float:right;
padding:20px;
/*
-moz-border-radius-bottomleft:8px;
-moz-border-radius-bottomright:8px;
-webkit-border-bottom-left-radius:8px;
-webkit-border-bottom-right-radius:8px;
*/
}
.greenTheme{
color:#25a825;
font-size:12px;
font-family:Arial;
}
.greenTheme.coreTemplate{
color:#25a825;
font-size:12px;
font-family:Arial;
}

.greenTheme a{
color:#25a825;
text-decoration:none;
}
.greenTheme a:hover{
color:#1d8d1d;
text-decoration:none;
}
.greenTheme h1{
color:#25a825;
font-size:20px;
font-family:Arial;
}

.greenTheme ul{
border:0px solid #25a825;
color:#25a825;
background:#0d5713;

}
.greenTheme li a{
color:#1d8d1d;
}
.greenTheme ul.jd_menu li.jdm_active {
background:#25a825;	
color: #FFF;	
	padding: 10px;
	border: 0px dotted #4b6141;
	border-left: 0px dotted #4b6141;
	border-top: 0px dotted #4b6141;	
}


.greenTheme ul li ul{
border:0;
width:200px;
}

.greenTheme ul li {
min-width:70px;
padding:10px;
background:none ;
}
.greenTheme ul li:hover{
border:0;
padding:10px;
background:#25a825;
color:#ffffff;

}
.greenTheme ul.jd_menu li a:hover{
color:white;
text-decoration:none;
}

.greenTheme ul li ul li{
background:#25a825;
color:#f4f4f4;
}
.greenTheme ul li ul li:hover{
border:0;
padding:10px;
background:#a7f3a7;
color:#ffffff;

}
.greenTheme ul li ul li a{
color:#f4f4f4;
}


/*images Gallery*/
.greenTheme div.lb div.lbImage{
width:60px;
height:49px;
overflow:hidden;
margin:1px;
}
.greenTheme div.lb div.lbImage:hover{
opacity:0.7;
}

/*slideshow*/
.greenTheme #Slideshow div h1{
font-family:Arial;
font-size:12px;
color:white;

}
.greenTheme #Slideshow{
background:#25a825;
width:800px;
top:0px;

}
.greenTheme #Slideshow h1:hover{
/*color:#cccccc;*/
}
.greenTheme #searchForm .zend_form input[type=text]{
background:#25a825;
color:#ffffff;
}
.greenTheme #searchForm .zend_form input[type=submit]{
background:url(../images/btnSearch.png);
color:#ffffff;
width:65px;
height:65px;
position:relative;z-index:999999;
right:0px
}


/*RED*/
#net_110_2_29_0_58_22.redTheme{
  background:#a72131;
}
#net_110_2_29_0_58_22.redTheme #wrp{
  background:#a72131;
}
#net_110_2_29_0_58_22.redTheme  #sdb{
background:#a72131;
width:18%;
position:static;
height:100%;
min-height:300px;
float:left;
padding:20px;
/*
-moz-border-radius-bottomleft:8px;
-moz-border-radius-bottomright:8px;
-webkit-border-bottom-left-radius:8px;
-webkit-border-bottom-right-radius:8px;
*/
}
#net_110_2_29_0_58_22.redTheme #cnt{
position:static;
background:white;
width:800px;
height:auto !important;
min-height:300px;
float:right;
padding:20px;
/*
-moz-border-radius-bottomleft:8px;
-moz-border-radius-bottomright:8px;
-webkit-border-bottom-left-radius:8px;
-webkit-border-bottom-right-radius:8px;
*/
}
.redTheme{
color:#cc1228;
font-size:12px;
font-family:Arial;
}
.redTheme.coreTemplate{
color:#cc1228;
font-size:12px;
font-family:Arial;
}

.redTheme a{
color:#fff;
text-decoration:none;
}
.redTheme a:hover{
color:#f4f4f4;
text-decoration:none;
}
.redTheme h1{
color:#cc1228;
font-size:20px;
font-family:Arial;
}

.redTheme ul{
border:0px solid #cc1228;
color:#cc1228;
background:#a72131;

}
.redTheme li a{
color:#1d8d1d;
}
.redTheme ul.jd_menu li.jdm_active {
background:#cc1228;	
color: #FFF;	
	padding: 10px;
	border: 0px dotted #4b6141;
	border-left: 0px dotted #4b6141;
	border-top: 0px dotted #4b6141;	
}


.redTheme ul li ul{
border:0;
width:200px;
}

.redTheme ul li {
min-width:70px;
padding:10px;
background:none ;
}
.redTheme ul li:hover{
border:0;
padding:10px;
background:#fd6678;
color:#ffffff;

}
.redTheme ul.jd_menu li a:hover{
color:white;
text-decoration:none;
}

.redTheme ul li ul li{
background:#cc1228;
color:#f4f4f4;
}
.redTheme ul li ul li:hover{
border:0;
padding:10px;
background:#fd6678;
color:#ffffff;

}
.redTheme ul li ul li a{
color:#f4f4f4;
}


/*images Gallery*/
.redTheme div.lb div.lbImage{
width:60px;
height:49px;
overflow:hidden;
margin:1px;
}
.redTheme div.lb div.lbImage:hover{
opacity:0.7;
}

/*slideshow*/
.redTheme #Slideshow div h1{
font-family:Arial;
font-size:12px;
color:white;
}
.redTheme #Slideshow{
background:#cc1228;
width:800px;
top:0px;
}
.redTheme #Slideshow h1:hover{
/*color:#cccccc;*/
}
.redTheme #searchForm .zend_form input[type=text]{
background:#cc1228;
color:#ffffff;
}
.redTheme #searchForm .zend_form input[type=submit]{
background:url(../images/btnSearch.png);
color:#ffffff;
width:65px;
height:65px;
position:relative;z-index:999999;
right:0px
}

/*BLUE*/
#net_110_2_29_0_58_22.blueTheme{
  background:#5865e7;
}
#net_110_2_29_0_58_22.blueTheme #wrp{
  background:#5865e7;
}
#net_110_2_29_0_58_22 #ftr {
  margin-top:0px;
}
#net_110_2_29_0_58_22.blueTheme  #sdb{
background:#5865e7;
width:18%;
position:static;
height:100%;
min-height:300px;
float:left;
padding:20px;
/*
-moz-border-radius-bottomleft:8px;
-moz-border-radius-bottomright:8px;
-webkit-border-bottom-left-radius:8px;
-webkit-border-bottom-right-radius:8px;
*/
}
#net_110_2_29_0_58_22.blueTheme #cnt{
position:static;
background:white;
width:800px;
height:auto !important;
min-height:300px;
float:right;
padding:20px;
/*
-moz-border-radius-bottomleft:8px;
-moz-border-radius-bottomright:8px;
-webkit-border-bottom-left-radius:8px;
-webkit-border-bottom-right-radius:8px;
*/
}
.blueTheme{
color:#5865e7;
font-size:12px;
font-family:Arial;
}
.blueTheme.coreTemplate{
color:#5865e7;
font-size:12px;
font-family:Arial;
}

.blueTheme a{
color:#f4f4f4;
text-decoration:none;
}
.blueTheme a:hover{
color:#9ea7fa;
text-decoration:none;
}
.blueTheme h1{
color:#5865e7;
font-size:20px;
font-family:Arial;
}

.blueTheme ul{
border:1px solid #5865e7;
color:#5865e7;
background:#5865e7;

}
.blueTheme li a{
color:#1d8d1d;
}
.blueTheme ul.jd_menu li.jdm_active {
background:#9ea7fa;	
color: #FFF;	
	padding: 10px;
	border: 0px dotted #4b6141;
	border-left: 0px dotted #4b6141;
	border-top: 0px dotted #4b6141;	
}


.blueTheme ul li ul{
border:0;
width:200px;
}

.blueTheme ul li {
min-width:70px;
padding:10px;
background:none ;
}
.blueTheme ul li:hover{
border:0;
padding:10px;
background:#9ea7fa;
color:#ffffff;

}
.blueTheme ul.jd_menu li a:hover{
color:white;
text-decoration:none;
}

.blueTheme ul li ul li{
background:#9ea7fa;
color:#f4f4f4;
}
.blueTheme ul li ul li:hover{
border:0;
padding:10px;
background:#c4c9fc;
color:#ffffff;

}
.blueTheme ul li ul li a{
color:#f4f4f4;
}


/*images Gallery*/
.blueTheme div.lb div.lbImage{
width:60px;
height:49px;
overflow:hidden;
margin:1px;
}
.blueTheme div.lb div.lbImage:hover{
opacity:0.7;
}

/*slideshow*/
.blueTheme #Slideshow div h1{
font-family:Arial;
font-size:12px;
color:white;
}
.blueTheme #Slideshow{
background:#5865e7;
width:800px;
top:0px;
}
.blueTheme #Slideshow h1:hover{
/*color:#cccccc;*/
}
.blueTheme #searchForm .zend_form input[type=text]{
background:#5865e7;
color:#ffffff;
}
.blueTheme #searchForm .zend_form input[type=submit]{
background:url(../images/btnSearch.png);
color:#ffffff;
width:65px;
height:65px;
position:relative;z-index:999999;
right:0px
}

/*WHITE*/
.whiteTheme{
color:#555555;
font-size:12px;
font-family:Arial;
}
.whiteTheme.coreTemplate{
color:#555555;
font-size:12px;
font-family:Arial;
}

.whiteTheme a{
color:#555555;
text-decoration:none;
}
.whiteTheme a:hover{
color:#cccccc;
text-decoration:none;
}
.whiteTheme h1{
color:#555555;
font-size:20px;
font-family:Arial;
}

.whiteTheme ul{
border:1px solid #ffffff;
color:#555555;
background:#ffffff;

}
.whiteTheme li a{
color:#555555;
}
.whiteTheme ul.jd_menu li.jdm_active {
background:#f4f4f4;	
color: #555555;	
	padding: 10px;
	border: 0px dotted #4b6141;
	border-left: 0px dotted #4b6141;
	border-top: 0px dotted #4b6141;	
}


.whiteTheme ul li ul{
border:0;
width:200px;
zoom: 1;
filter: progid:DXImageTransform.Microsoft.Shadow(color='#969696', Direction=135, Strength=3);
-moz-box-shadow:1px 5px 5px 1px #555;
-webkit-box-shadow:1px 5px 5px 1px #555;
box-shadow:1px 5px 5px 1px #555;
}

.whiteTheme ul li {
min-width:70px;
padding:10px;
background:none ;
color:#555555;
}
.whiteTheme ul li:hover{
border:0;
padding:10px;
background:#f4f4f4;
color:#cccccc;

}
.whiteTheme ul.jd_menu li a{
color:#555555;
text-decoration:none;
}
.whiteTheme ul.jd_menu li a:hover{
color:#cccccc;
text-decoration:none;
}

.whiteTheme ul li ul li{
background:#ffffff;
color:#555555;
}
.whiteTheme ul li ul li:hover{
border:0;
padding:10px;
background:#f4f4f4;
color:#555555;

}
.whiteTheme ul li ul li a{
color:#555555;
}


/*images Gallery*/
.whiteTheme div.lb div.lbImage{
width:60px;
height:49px;
overflow:hidden;
margin:1px;
}
.whiteTheme div.lb div.lbImage:hover{
opacity:0.7;
}

/*slideshow*/
.whiteTheme #Slideshow div h1{
font-family:Arial;
font-size:12px;
color:white;
}
.whiteTheme #Slideshow{
background:#f4f4f4;
width:800px;
top:0px;
}
.whiteTheme #Slideshow h1:hover{
/*color:#cccccc;*/
}

.whiteTheme #searchForm .zend_form input[type=text]{
background:#f4f4f4;
color:#555555;
}
.whiteTheme #searchForm .zend_form input[type=submit]{
background:url(../images/btnSearch.png);
color:#555555;
width:65px;
height:65px;
position:relative;z-index:999999;
right:0px
}

/*BLACK*/
#net_110_2_29_0_58_22.blackTheme{
  background:#000;
}
#net_110_2_29_0_58_22.blackTheme #wrp{
  background:#000;
}
#net_110_2_29_0_58_22.blackTheme  #sdb{
background:#000;
width:18%;
position:static;
height:100%;
min-height:300px;
float:left;
padding:20px;
/*
-moz-border-radius-bottomleft:8px;
-moz-border-radius-bottomright:8px;
-webkit-border-bottom-left-radius:8px;
-webkit-border-bottom-right-radius:8px;
*/
}
#net_110_2_29_0_58_22.blackTheme #cnt{
position:static;
background:#555;
width:800px;
height:auto !important;
min-height:300px;
float:right;
padding:20px;
/*
-moz-border-radius-bottomleft:8px;
-moz-border-radius-bottomright:8px;
-webkit-border-bottom-left-radius:8px;
-webkit-border-bottom-right-radius:8px;
*/
}
.blackTheme{
color:#ffffff;
font-size:12px;
font-family:Arial;
}
.blackTheme.coreTemplate{
color:#ffffff;
font-size:12px;
font-family:Arial;
}

.blackTheme a{
color:#ffffff;
text-decoration:none;
}
.blackTheme a:hover{
color:#f4f4f4;
text-decoration:none;
}
.blackTheme h1{
color:#ffffff;
font-size:20px;
font-family:Arial;
}

.blackTheme ul{
border:1px solid #000000;
color:#ffffff;
background:transparent;

}
.blackTheme li a{
color:#ffffff;
}
.blackTheme ul.jd_menu li.jdm_active {
background:#555555;	
color: #ffffff;	
	padding: 10px;
	border: 0px dotted #4b6141;
	border-left: 0px dotted #4b6141;
	border-top: 0px dotted #4b6141;	
}


.blackTheme ul li ul{
border:0;
width:200px;
}

.blackTheme ul li {
min-width:70px;
padding:10px;
background:none ;
color:#ffffff;
}
.blackTheme ul li:hover{
border:0;
padding:10px;
background:#272728;
color:#ffffff;

}
.blackTheme ul.jd_menu li a{
color:#ffffff;
text-decoration:none;
}
.blackTheme ul.jd_menu li a:hover{
color:#ffffff;
text-decoration:none;
}

.blackTheme ul li ul li{
background:#272728;
color:#ffffff;
}
.blackTheme ul li ul li:hover{
border:0;
padding:10px;
background:#7c7d80;
color:#ffffff;

}
.blackTheme ul li ul li a{
color:#ffffff;
}


/*images Gallery*/
.blackTheme div.lb div.lbImage{
width:60px;
height:49px;
overflow:hidden;
margin:1px;
}
.blackTheme div.lb div.lbImage:hover{
opacity:0.7;
}

/*slideshow*/
.blackTheme #Slideshow div h1{
font-family:Arial;
font-size:12px;
color:white;
}
.blackTheme #Slideshow{
background:#000000;
width:800px;
top:0px;
}
.blackTheme #Slideshow h1:hover{
/*color:#cccccc;*/
}
.blackTheme #searchForm .zend_form input[type=text]{
background:#000000;
color:#ffffff;
}
.blackTheme #searchForm .zend_form input[type=submit]{
background:url(../images/btnSearch.png);
color:#ffffff;
width:65px;
height:65px;
position:relative;z-index:999999;
right:0px
}