<div style="position: relative; min-height: auto; height: auto; border: 0px;" id="net_110_2_29_0_58_22" class="draggable ui-draggable templateDiv sheet w-full ui-resizable-autohide activeObject" unselectable="on" contenteditable="false"><!-- this file should be editable from admin panel for the current user --> <!--   h1 {}   h2 {}   a {} -->
<div id="ide21-default-template-blue" class="grid grid-cols-12 relative bg-primary md:w-4/5 mx-auto shadow-lg" contenteditable="false" style=""><div class="header w-full h-auto overflow-hidden bg-blue-400 col-span-12">
<div id="hdr" class="hero" style="background-image: url(&quot;/images/december-daisy/light-in-hands.jpg&quot;); background-repeat: no-repeat; background-position: center center; background-size: cover; background-attachment: fixed;" contenteditable="false">
<div id="div_sel_9296___hello_there_p" class="hero-content backdrop-blur-lg text-center text-neutral-content bg-neutral md:rounded-lg bg-opacity-70 dsParams_(left:4,top:4,blur:10,opacity:0.5,color:black)" contenteditable="false">
<div class="max-w-md">
<h1 id="h1_sel_2651_hello_there" class="mb-5 text-5xl font-bold">Hello there</h1>

<p id="p_sel_3937_provident_cupid" class="mb-5 text-lg selected-for-append" contenteditable="false">This is a template without hero section,&nbsp;all parts of the template can be changed or removed. It is the default English version, translations are made through editing in the administration panel.<br></p>
<a href="#"></a><a href="#div_sel_3685____hello_there_" contenteditable="false"></a></div>
</div>
</div><div class="draggable templateDiv bg-secondary text-primary-content" id="net_124_5_28_15_19_26" style="color: rgb(255, 255, 255); border: 0px;" contenteditable="false">
	<p class="objContent" id="p_sel_3246_netobject_124_5" contenteditable="false">{menu:display:1}
</p>
</div>
</div>
<div class="col-span-6  inline-flex items-center gap-2 pl-8">{language:flags}</div>
<div class="col-span-6 grid items-center justify-items-end min-h-20 pr-8">{searchform}</div>
<div id="wrp" class="grid grid-cols-12 col-span-12">
<div id="sdb" class="leftcolumn col-span-12 md:col-span-4 p-8 bg-base-100" contenteditable="false">
<div id="t1menu-vertical" class="text-primary-content bg-secondary templateDiv rounded-lg" contenteditable="false" style="color: rgb(255, 255, 255);">{menu:display:1:vertical}</div>
<div id="t1menu" class="mt-2" contenteditable="false">{menu:display:1:tree}</div>
<div>{liveblock:user:loginArea}</div>
<div>
<p>{adminurl}</p>
</div>


</div>
<div id="cnt" class="sheet col-span-12 md:col-span-8 p-8 bg-base-200 prose" contenteditable="false">
<div>
<h1 class="text-2xl">{title}</h1>
</div>
<div>{content}</div>
</div>
</div>
<div id="ftr" class="col-span-12 p-8 text-neutral-content ui-resizable" contenteditable="false" style="position: relative;">
<div>
<p>Copyright © 2010-present Nebojsa Tomic | Powered by <a href="https://github.com/nebojsatomic/IDE21" target="_blank">IDE21</a><img src="/images/backgrounds/ide21logo.png" class="w-12 inline-flex" id="img_sel_499_" contenteditable="false" style="position: static;"></p>
</div>
</div>


</div>


</div><div class="draggable templateDiv" id="net_124_11_20_21_1_26" style="border: 0px; z-index: 500; position: fixed; left: 0px; top: 0px;" contenteditable="false">
<div class="dropdown mb-72">
  <div tabindex="0" role="button" class="btn m-1">
    Theme
    <svg width="12px" height="12px" class="inline-block h-2 w-2 fill-current opacity-60" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2048 2048">
      <path d="M1799 349l242 241-1017 1017L7 590l242-241 775 775 775-775z"></path>
    </svg>
  </div>
  <ul tabindex="0" class="dropdown-content bg-base-300 rounded-box z-[1] w-52 p-2 shadow-2xl">
    <li>
      <input type="radio" name="theme-dropdown" class="theme-controller btn btn-sm btn-block btn-ghost justify-start" aria-label="Default" value="default">
    </li>
    <li>
      <input type="radio" name="theme-dropdown" class="theme-controller btn btn-sm btn-block btn-ghost justify-start" aria-label="Retro" value="retro">
    </li>
    <li>
      <input type="radio" name="theme-dropdown" class="theme-controller btn btn-sm btn-block btn-ghost justify-start" aria-label="Cyberpunk" value="cyberpunk">
    </li>
    <li>
      <input type="radio" name="theme-dropdown" class="theme-controller btn btn-sm btn-block btn-ghost justify-start" aria-label="Valentine" value="valentine">
    </li>
    <li>
      <input type="radio" name="theme-dropdown" class="theme-controller btn btn-sm btn-block btn-ghost justify-start" aria-label="Aqua" value="aqua">
    </li>
  </ul>
</div>
</div>























<div class="draggable ui-draggable ajax-loader templateDiv ui-resizable-autohide" id="net_111_5_14_18_36_5" style="position: absolute; border: 0px; z-index: 999999; left: 456px; top: 402px; display: none;" contenteditable="false"><p class="objContent"><img src="/images/coreTemplate1/ajax-loader.gif" alt="ajaxloader" width="220" height="136"></p>


</div>




