<?php
/**
 * CMS-IDE Visual CMS
 *
 * @category   Layouts
 * @package    CMS-IDE
 *  Copyright (C) 2010-2021  Nebojsa Tomic
 *
 *  This file is part of CMS-IDE.
 *
 *  CMS-IDE is free software; you can redistribute it and/or
 *  modify it under the terms of the GNU Lesser General Public
 *  License as published by the Free Software Foundation; either
 *  version 3 of the License, or (at your option) any later version.
 *
 *  CMS-IDE is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 *  Lesser General Public License for more details.
 *
 *  You should have received a copy of the GNU Lesser General Public
 *  License along with this library; if not, write to the Free Software
 *  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301  USA
 *
 *
 *
 */
 ?>
<div id ="contPreview" style="z-index:9999999;display:none;width:100%;height:auto;position:absolute;top:200px;;left:300px;background:white;"></div>
<div id="templateMask"></div>
<div id="toggleProperties" title="Click to toggle properties box"></div>


<!--<div id="delObject"  title="Click to delete selected object"><a id="delButton" class="navLinks a_delete noAjaxEvent" href="" ></a></div>
-->
<div id="helpButton" class="help" title="Click to toggle help"></div>
<div id="helpDiv"  title="">NeT.Creator Help</div>

<div id="delButton" class="help" title="Click to delete selected object"></div>
<div id="newItem" class="help" title="Click to create new object on this page"></div>
<div id="cloneItem" class="help" title="Click to create clone object"></div>
<div id="moveProps" class="help" title="Click to move around properties dialog">
<!--<button id="leftB"></button> <button id="rightB"></button>-->
<button id="upB"></button> <button id="downB"></button>
</div>
<div id="logout"  class="help" title="Click to logout"><a class="a_logout" href="<?php echo $this->host;?>creator/logout">&nbsp;</a></div>
<div id="penPointer"></div>
<div id="downPointer"></div>
<div id="dialogDiv"></div>
<div id="tooltip" style="display:none"></div>
<div id="adminAjaxLoader"><img src="<?php echo $this->host;?>images/ajax-loader3.gif" /></div>


<!--form for saving and updating page-->
<form id="pageCode" name="pageCode" objId="" style="display:none" action="<?php echo $this->host;?>page/save" method="post">
<input name="pageTitleC" id="pageTitleC" value="" />
<input name="pageImageC" id="pageImageC" value="" />
<textarea id="pageCodeHtml" name="pageCodeHtml"></textarea>
<textarea id="pageCSSC" name="pageCSSC"></textarea>
<textarea id="pageJSC" name="pageJSC"></textarea>
<textarea id="pageDESC" name="pageDESC"></textarea>
<textarea id="pageKEYWORDS" name="pageKEYWORDS"></textarea>
<input id="pageCategoryC" name="pageCategoryC" type="text" value="" />
</form>

<!--form for saving and updating template-->
<form id="templateCode" name="templateCode" objId="" style="display:none" action="<?php echo $this->host;?>page/save-as-template" method="post">
<input name="templateTitleC" id="templateTitleC" value="" />
<input name="templateBodyBgC" id="templateBodyBgC" value="" />
<input name="templateDefaultC" id="templateDefaultC" value="" />
<textarea id="templateCodeHtml" name="templateCodeHtml"></textarea>
</form>


<div id="contProperties">
<div id="propertiesLeft">
<h2>Welcome to NeT.Objects!</h2>
<p>Drag &amp; Drop items from toolbox to create objects on the page</p>
</div>


<div id="properties">
    <div id="rotate">
        <ul>
                <li class="help" description="Contains properties of page and objects"><a href="#fragment-1" id="poA"><span>Page/Object</span></a></li>
                <li class="help" description="Contains Menu management"><a href="#fragment-2" id="MenuA"><span>Menus</span></a></li>
                <li class="help" description="Contains Categories management"><a href="#fragment-3" id="CatA"><span>Categories</span></a></li>
                <li class="help" description="Installed and enabled languages on the site"><a href="#fragment-4" id="LangA"><span>Languages</span></a></li>
                <li class="help" description="Installed and enabled modules on the site"><a href="#fragment-5" id="ModA"><span>Modules</span></a></li>
                <li class="help" description="Galleries and Images on the site"><a href="#fragment-6" id="ImagesA"><span>Images</span></a></li>
                <li class="help" description="CSS code - every administrator's code is compiled together in the main css file "><a href="#fragment-7" id="CssA"><span>CSS</span></a></li>
                <li class="help" description="JavaScript code - every administrator's code is compiled together in the main javascript file"><a href="#fragment-8" id="JsA"><span>JS</span></a></li>
                <li class="help" description="Site Settings"><a href="#fragment-9" id="SettingsA"><span>Settings</span></a></li>
       <div style="float:right;width:auto;height:15px;background:transparent;font-weight:bold;"><?php echo $this->version;?></div>


            <?php echo $this->langChooserAdmin;?>
            <!--
            <select id="langSwitcher" style="float:right;">
            <option>English</option>
            </select>
            -->

        </ul>



        <div id="fragment-1">
        <form id="objProperties" name="objProperties" objId="" action="<?php echo $this->host;?>save" method="post">
        <table width="775px"  >
        <tr><td colspan="3">
        <a href="" id="toggleVisibilityRowAnchor" class="navLinks a_content noAjaxEvent" title="Toggle visibility for style, tinymce and meta">Object Editors</a>
            <!--<a id="delButton" class="navLinks a_delete noAjaxEvent" href="" >Delete Selected Object </a>&nbsp;-->

            <a id="previewButton" class="a_preview help" target="_blank" href="" title="Click this to go to the page and see how it looks!">View Page</a>&nbsp;
            <a id="emptyCacheButton" class="navLinks a_emptyCache help" href="" title="Click this to empty the cache if you have made changes that require cache to be cleaned!" >Empty Cache </a>&nbsp;
            <a id="backupSiteButton" class="navLinks a_backup help" href="" title="Click here to have backup of the site in a folder that is created for that purpose.If system command is disabled then it must be done through phpMyAdmin...">Backup Site </a>&nbsp;

            <!--<a id="generateCacheButton" class="navLinks a_generateCache" style="display:block" href="" >Generate Cache </a>
            -->
        </td>
        <td>
          <div id="p_t_common" class="noAjaxEvent">

                <input id="pageDisplayer" class="noAjaxEvent help" type="radio" name="p_g" value="pageEditing" checked="checked" title="Page creating Mode" />Page
                <input id="templateDisplayer" class="noAjaxEvent help" type="radio" name="p_g" value="templateEditing" title="Template creating Mode" />Template


          </div>

        </td>

        </tr>

        <tr valign="top" id="toggleVisibilityRow" style="display:none">
        <td align="left" >
        <!--
        <br />
        HTML:<br />
        <textarea id="objPropertiesHtml" name="objPropertiesHtml" style="height:100px;">

        </textarea>
        -->
        <br />
        Style for this object:<br />
        <textarea id="objPropertiesCSS" name="objPropertiesCSS" style="height:232px;" class="help" title="Style for this object">

        </textarea>

        </td>



        <td align="right" colspan="2">
        <br />
        <a href="" id="tinySave" class="navLinks a_refresh noAjaxEvent help" title="Click this to update the content of the selected object">Update object</a>
        <textarea id="objPropertiesHtmlTiny" name="objPropertiesHtmlTiny" style="height:100px;">

        </textarea>

        </td>

        <td align="right" valign="top">
            <br />
            <div id="descKeyDiv">
            DESCRIPTION:<br />
            <textarea id="pageDescription" name="pageDescription" style="width:190px;height:100px;" class="help" title="Here write the description for your page, which will make it Search Engine Optimized...">
            <?php echo $this->description;?>
            </textarea>
            <br />

            KEYWORDS:<br />
            <textarea id="pageKeywords" name="pageKeywords" style="width:190px;height:110px;" class="help" title="Here write the keywords for your page, which will make it Search Engine Optimized...">
            <?php echo $this->keywords;?>
            </textarea>
            </div>
        </td>


        </tr>
        <tr>
          <td >
            <div style="width:70px;float:left;text-align:left;font-weight:bold;" >Page ID:</div> <div id="pgID" ><?php echo $this->pageId;?></div>
          </td>
          <td>
            <div style="width:auto;float:left;font-weight:bold;padding-left:5px;" >ObjectID:</div> <div style="width:auto" id="objIDshow"></div>
          </td>
        </tr>


        <tr>
        <td align="right" valign="bottom" width="150px">

        <div style="width:100%;float:right;">
        <div class="creatorDiv">ID Assistant<input id="tttoggle" type="checkbox" style="margin-right:-20px;" /></div>
        <div class="creatorDiv">Show hidden:<input id="showFooterCheck" name="showFooterCheck" type="checkbox" style="margin-right:-20px;" /></div>
        <div class="creatorDiv">Shadow<input id="shadowCheck" type="checkbox" style="margin-right:-17px;" /> <a href="" class="navLinks help a_params noAjaxEvent" id="aParamShadow" title="Click to set shadow params"></a></div>
        <div class="creatorDiv">Corner<input id="cornerCheck" type="checkbox" style="margin-right:-17px;"  /> <a href="" class="navLinks help a_params noAjaxEvent" id="aParamCorner" title="Click to set corner params"></a></div>
        </div><br />

        <div id="fontCont" style="display:none;">
            Font:
            <a id="fontBigger" style="width:30px;height:30px;"><img src="<?php echo $this->host;?>images/interface/fontPlus.png" /></a><a id="fontSmaller" style="width:30px;height:30px;"><img src="<?php echo $this->host;?>images/interface/fontMinus.png" /></a>
        </div>


        <br />
        Type:
        <select id="objType" style="width:100px" class="help" description="Choose the type of the selected object, after you do it, follow the instructions">
        <option>Text</option>
        <option>Menu</option>
        <option>Image</option>
        <!--<option>Table</option>
        <option>Combo</option>
        <option>Tree</option>
        -->
        </select>

        <br />
        Theme:
        <select id="objTheme" style="width:100px" description="Choose the theme for the selected object">
        <option value="no">None</option>
        <option value="silver">Silver</option>
        <option value="green">Green</option>
        <option value="red">Red</option>
        <option value="blue">Blue</option>
        <option value="white">White</option>
        <option value="black">Black</option>
        </select>

        </div>
        <br /><br />
        <div>
          <a href="" id="deletePage" class="navLinks a_delete" title="Click to delete this page" style="float:right;bottom:0;" >Delete This Page</a>
        </div>
        </td>
        <td align="right" valign="bottom" width="200px">
        Width:<input id="objPropertiesWidth" name="objPropertiesWidth" type="text" value="" /><br />
        Height:<input id="objPropertiesHeight" name="objPropertiesHeight" type="text" value="" /><br />
        Border:<input id="objPropertiesBorder" name="objPropertiesBorder" type="text" value="" /><br />

        PosX:<input id="objPropertiesX" name="objPropertiesX" type="text" value="" /><br />
        PosY:<input id="objPropertiesY" name="objPropertiesY" type="text" value="" /><br />
        Z-Index:<input id="objPropertiesZ" name="objPropertiesZ" type="text" value="" /><br />

        BgColor:<input id="objPropertiesBackground" name="objPropertiesBackground" type="text" value="" style="width:130px" /><br />
        BgImage:<input id="objPropertiesBackgroundImage" name="objPropertiesBackgroundImage" type="text" value="" style="width:130px" /><br />
        class:<input id="objPropertiesClass" name="objPropertiesClass" type="text" value="" style="width:130px" /><br />

        </td>
        <td align="right" valign="bottom" style="padding-left:10px;padding-right:10px;">

            <a href="" id="newPage" class="navLinks a_new" style="display:none" title="Click to create new page">New Page</a>&nbsp;
            <a href="<?php echo $this->host;?>creator/manage-all-pages/?height=450&width=900" id="manageAllPages" class="thickbox" title="Manage All Pages"><b>Manage All Pages</b></a><br />
            <a href="" id="openPage" class="navLinks a_open" title="Click to open existing page">Open Page</a><br />
            <a href="" id="clearPage" class="navLinks a_clear noAjaxEvent" title="Click to erase all objects">Clear</a>&nbsp;
            <a href="#" class="navLinks a_redraw noAjaxEvent" id="redraw" style="display:none;">Redraw</a>
          <div id="pageEditing">
            <a href="" id="saveThisPage" class="navLinks a_save" title="Click to save work on this page" style="float:left" >Save Page</a>
            <a href="" id="savePageNew" class="navLinks a_save_new" title="Click to save this work as a new page" style="float:left">Save As New Page</a><br />
            <div class="creatorDiv" style="float:left" ><input id="allLangCheck" type="checkbox" style="float:left;margin:0;margin-left:-15px;" />Apply to all languages</div>
                                    <br />
            <div id="restrictiveDiv" style="float:left;" ><input id="restrictiveCB" type="checkbox" style="float:left;margin:0;margin-left:-15px;"  />Restrictive &nbsp;
                <a href="" style="display:none" id="openPagePermisions" class="navLinks a_access" title="Click to set permissions for this page">Permissions</a>
                <div id="allowedRolesDiv"></div>
            </div>
            <div id="boundDiv" style="float:left;" >
            <input id="boundCB" type="checkbox" style="float:left;margin:0;margin-left:-15px;" />Relative to Content Area &nbsp;
            </div>

            <br />
            <div style="width:70px;float:left;display:none;" >Template ID:</div> <div id="templateID" style="display:none;"><?php echo $this->templateId;?></div>
            <!--template changer-->
            <div id="templateChangerDiv" ><?php echo $this->changeTemplate;?></div>


            <div style="width:100%;float:right;" >Page Title:<input id="pageTitle" type="text" name="pageTitle" value="Page <?php echo $this->pageId;?>" style="width:130px"/></div><br />
            <div style="width:100%;float:right;" >Page Image:<input id="pageImage" type="text" name="pageImage" value="<?php echo $this->pageImage;?>" style="width:130px"/></div><br />
            <!--<a href="" id="newPage" class="navLinks" title="Click to create new page">New Page</a>&nbsp;ZA SAD SAMO OPEN-->


          </div>

          <div id="templateEditing" style="display:none;">
            <div style="width:70px;float:left;text-align:left;" >Template ID:</div> <div id="templateIDediting" ><?php echo $this->templateIdEdit;?></div><br />
            <div style="width:100%;float:left;text-align:left;" >Template name:<input id="templateTitle" type="text" name="templateTitle" value="<?php echo $this->templateName;?>" style="width:100%"/></div><br />

            <a href="" id="applyTemplate" class="navLinks a_edit" title="Click to edit existing template ">Edit template</a>&nbsp;
            <a href="" id="saveThisTemplate" class="navLinks a_save" title="Click to save work on this template">Save Template</a><br />
            <a href="" id="saveAsTemplate" class="navLinks a_save_new"  title="Click to save this work as template">Save As New Template</a><br />
            <div class="creatorDiv"><input id="allLangCheckTemplate" type="checkbox" />Apply to all languages</div>
            <div id="DefaultTemplateChangerDiv" ><input id="templateDefaultCB" type="checkbox" name="templateDefaultCB" />Default Template</div>
            <br /><a href="" id="deleteTemplate" class="navLinks a_delete" title="Click to delete this template">Delete This Template</a>
          </div>
        </td>


        <td align="right" valign="bottom" width="50px">
        <div style="display:none">Container<input id="objContainer" type="checkbox" /></div>
        Objects on this page:
        <select id="objList" size="4" style="width:190px;" class="help" title="This is the list of all objects in this page/template">
        </select>

        <br />
        <div id="assignPageToCategory">
            <?php echo $this->formAssignPageToCategory;?>
        </div>

        <div id="assignPageToMenu">
            <?php echo $this->formAssignPageToMenu;?>
        </div>
        <div style="float:right;width:100%;">
            <div style="float:left;">BodyW:<input id="bodyWidth" name="bodyWidth" type="text" value="" /> </div>
            <div style="float:right;">BodyH:<input id="bodyHeight" name="bodyHeight" type="text" value="" /> </div>
        </div><br />
        BodyBg:<input id="template_bodyBg" name="template_bodyBg" type="text" value="" style="width:140px" /><br />

        </td>
        </tr>

        </table>

        </form>

        <!--<a href="" id="newItem" class="navLinks" title="Click to create new object on this page">New Object</a>&nbsp;-->

        </div>


        <!--MENUS-->

        <div id="fragment-2">
            <div id="menuFormContainer" style="float:left;width:100%;" >
            <div id="menuShow" style="width:250px;float:left;">
                Put in this object <input id="putInThis" type="checkbox" />
                <br />
                Display Type:
                <form id="menuDisplayType">
                <input type="radio" name="displaytype" value="" checked="checked">Horizontal
                <input type="radio" name="displaytype" value=":vertical">Vertical
                <input type="radio" name="displaytype" value=":tree">Tree
                <input type="radio" name="displaytype" value=":slide">Slide
                </form>

                <br />

                <?php echo $this->formChooseMenu;?>
            </div>
            <div id="menuSelected" style="width:250px;height:100%;float:left;"></div>

            <div id="menuSelectedForm" style="width:250px;float:right;">
                <a id="editMenuItem" style="display:none">Edit</a>
                <a id="deleteMenuItem" class="a_delete" style="display:none" title="Click to delete this menu item">Delete this item </a>
                <div id="menuItemForm"></div>


            </div>

            </div>
            <div id="addMenuLinkDiv">
            <a id="addMenuLink" href="menu/add-menu" class="navLinks a_add" title="Click to create new menu">Add a menu</a>
            <a id="delMenuLink" href="menu/del-menu" class="navLinks a_delete" title="Click to delete menu">Delete menu</a>
             |&nbsp;
            <a id="addMenuItemLink" href="menu/add-menu-item" class="navLinks a_add" title="Click to add new menu item to this menu">Add a menu item</a>


            </div>

        </div>

        <!--Categories-->

        <div id="fragment-3">
            <div id="categoryFormContainer" style="float:left;width:100%;" >
                Put in this object <input id="putCategoryInThis" type="checkbox" />
                <br />
            <div id="categoryShow" style="width:250px;float:left;">

                <?php echo $this->formChooseCategory;?>
            </div>
            <div id="categorySelected" style="width:250px;height:100%;float:left;"></div>

            <div id="categorySelectedForm" style="width:250px;float:right;">
                <div id="CatNameDivContainer">
                    <form id="catNameForm" enctype="application/x-www-form-urlencoded" action="" method="post">
                    <dl class="zend_form">
                    <dt><label for="catItems" class="optional">Category Name Translation:</label></dt>
                    <dd>
                    <input type="text" value="" name="cat_name_lng" style="width:100%;" />
                    <input type="submit" value="Save" style="float:right;" />
                    </dd></dl>
                    </form>
                </div>
                <a id="editcategoryItem" style="display:none">Edit</a>
                <a id="deleteCategoryItem" class="a_delete" style="display:none" title="Click to delete this category item">Delete this category item </a>
                <div id="categoryItemForm"></div>


            </div>

            </div>


            <div id="addCategoryLinkDiv">
                <a id="addCategoryLink" href="category/add-category" class="navLinks a_add" title="Click to create new category">Add a category</a>
                <a id="delCategoryLink" href="category/del-category" class="navLinks a_delete" title="Click to delete selected category">Delete category</a>
                 |&nbsp;
                <a id="addCategoryItemLink" href="category/add-category-item" class="navLinks a_add" title="Click to add new category item to this category">Add a category item</a>
                <a id="delCategoryItemLink" href="category/del-category-item" class="navLinks a_delete" title="Click to remove this category item">Remove category item</a>


            </div>

        </div>




        <!--Languages-->
        <div id="fragment-4">
           <div id="languageDiv" >
            <?php echo $this->languages;?>
            </div>
        </div>

        <!--Modules-->
        <div id="fragment-5" style="">
            <div id="modulesFormContainer" style="width:100%;" >

            <div id="modulesShow" style="width:100%;float:left;">
                <div style="display:none;">Put in this object <input id="putModulesInThis" type="checkbox" /></div>
                <br />
                <?php echo $this->formChooseModules;?>

            </div>


            <div id="modulesSelected" style="width:100%;height:100%;float:left;">

            </div>

            <!--<div id="modulesSelectedForm" style="width:250px;float:right;">
                <a id="editmodulesItem" style="display:none">Edit</a>
                <a id="deletemodulesItem" class="a_delete" style="display:none" title="Click to delete this module item">Delete this category item </a>
                <div id="modulesItemForm"></div>


            </div>
            -->
            </div>


            <div id="addModulesLinkDiv" >
               <!--<a id="installModulesLink" href="modules/install-module" class="navLinks a_add" title="Click to install new module">Install module</a>
                <a  id="delModulesLink" href="modules/del-module" class="navLinks a_delete" title="Click to delete module">Delete module</a>
                |&nbsp;-->
                <a id="editModulesLink" href="modules/edit-module/id/" class="navLinks help a_edit" title="Click to edit this module settings">Edit module</a>

            </div>


        </div>

        <!--Images-->
        <div id="fragment-6">
            <div id="imagesContainer" style="float:left;width:100%;" >
             Put Image(s) in this object <input id="putImagesInThis" type="checkbox" /> Single Image<input id="putSingleImageInThis" type="checkbox" />
             <br />
            <!--Images on this site:-->
                <div id="imageFoldersShow" style="width:250px;float:left;border:0px solid red;">


                        <?php echo $this->imagesFoldersForm;?>


                </div>
                <div id="imagesShow" style="width:250px;float:left;border:0px solid red;">

                </div>

                <div>
                <a id="deleteImage" class="a_delete" style="display:none" title="Click to delete this image">Delete this image </a><br />

                    <!--Image path:--><div id="imagePathShow"></div>
                    <div id="imageDetails" style="width:250px;float:right;border:0px solid red;">

                    </div>
                </div>
            </div>
            <div id="addFolderLinkDiv">
                <a id="addFolderLink" href="images/add-folder" class="navLinks a_add" title="Click to create new folder for the images">Add a folder</a>
                <a id="delFolderLink" href="images/del-folder" class="navLinks a_delete" title="Click to delete folder">Delete folder</a>
                 |&nbsp;
                <a id="addImageLink" href="images/add-image" class="navLinks a_add" title="Click to add new image to this folder">Add images</a>


            </div>

        </div>


        <!--CSS-->
        <div id="fragment-7">
            <div style="width:100%">
                Choose Object:
                <select id="objListForCss" size="1" style="width:200px;" ></select>
                Choose class:
                <select id="eventListForCss" size="1" style="width:200px;" ></select>
                <a id="addCssCodeA" class="navLinks a_add noAjaxEvent">Add Code</a>
                <a id="saveCssCodeA" class="navLinks a_save" style="float:right">Save This Code</a>

            </div>

            <p>
            <br />
            <textarea id="pageCSS" name="pageCSS" style="height:100%;width:100%;min-height:200px;" class="codepress css">
                <?php echo $this->css;?>

            </textarea><br />
            </p>






        </div>

        <!--JS-->
        <div id="fragment-8">
            <div style="width:100%">
                Choose Object:
                <select id="objListForJs" size="1" style="width:200px;" ></select>
                Choose event:
                <select id="eventListForJs" size="1" style="width:200px;" >
                    <option>click</option>
                    <option>dblclick</option>
                    <option>mouseover</option>
                    <option>mouseout</option>
                </select>
                <a id="addJsCodeA" class="navLinks a_add noAjaxEvent">Add Code</a>
                <a id="saveJsCodeA" class="navLinks a_save" style="float:right">Save This Code</a>
            </div>

            <p>
            <br />
            <textarea id="pageJS" name="pageJS" style="height:100%;width:100%;min-height:200px;" class="codepress javascript">
                <?php echo $this->js;?>

            </textarea><br />

            </p>



        </div>


        <!--Settings-->
        <div id="fragment-9">
            <?php echo $this->settings;?>
        </div>

    </div>

</div>


</div>

<div id="containerRadnePovrsine">


<div id="droppable" class="">
</div>


<div id="droppable_" class="">
</div>

</div>

<!--<script type="text/javascript" src="<?php echo $this->host;?>js/jquery/jquery.dataTables.min.js"></script>-->

<script type="text/javascript" src="<?php echo $this->host;?>js/creator.js"></script>
<!--<script type="text/javascript" src="<?php echo $this->host;?>js/creatorObf.js"></script>-->
