<div style="position: relative; min-height: 3968px; height: auto; border: 0px;" id="net_110_2_29_0_58_22" class="draggable ui-draggable templateDiv sheet w-full ui-resizable-autohide" unselectable="on" contenteditable="false"><!-- this file should be editable from admin panel for the current user --> <!--   h1 {}   h2 {}   a {} -->
<div id="ide21-default-template-blue" class="grid grid-cols-12 relative bg-primary md:w-4/5 mx-auto shadow-lg" contenteditable="false" style=""><div class="header w-full h-auto overflow-hidden bg-blue-400 col-span-12">
<div id="hdr" class="hero min-h-screen" style="background-image: url(&quot;/images/december-daisy/light-in-hands.jpg&quot;); background-repeat: no-repeat; background-position: center center; background-size: cover; background-attachment: fixed;" contenteditable="false">
<div id="div_sel_9296___hello_there_p" class="hero-content backdrop-blur-lg text-center text-neutral-content bg-neutral md:rounded-lg bg-opacity-70 dsParams_(left:4,top:4,blur:10,opacity:0.5,color:black)" contenteditable="false">
<div class="max-w-md">
<h1 id="h1_sel_2651_hello_there" class="mb-5 text-5xl font-bold">Hello there</h1>

<p id="p_sel_3937_provident_cupid" class="mb-5 text-lg selected-for-append" contenteditable="false">This template was designed in administration area of this site and can have different looks. If you select&nbsp; an option from the dropdown menu in the top left corner you will see different colors.<br></p>
<a href="#div_sel_3685____hello_there_"><button id="button_sel_5544_get_started" class="btn btn-primary text-white" contenteditable="false">Get Started</button></a></div>
</div>
</div><div class="hero min-h-screen ease-in duration-400" style="background-image: url(&quot;/images/december-daisy/headphones.jpg&quot;); background-repeat: no-repeat; background-position: center center; background-size: cover; position: relative; background-attachment: fixed;" contenteditable="false" id="div_sel_3685____hello_there_">
<div class="hero-content backdrop-blur-lg text-center text-neutral-content bg-opacity-70 bg-secondary md:rounded-2xl" contenteditable="false" id="div_sel_864___hello_there__" style="position: static; ">
<div class="max-w-md">
<h1 class="mb-5 text-5xl font-bold" id="h1_sel_610_hello_there" contenteditable="false">Hello again</h1>

<p class="mb-5 text-lg" contenteditable="false" id="p_sel_3988_provident_cupid">This is a duplicated element from above, and it can be&nbsp; quite different in a few clicks, changing the background color, font color, borders etc is done easily.<br></p>
<a href=""></a><a href="#div_sel_4751____hello_there_" contenteditable="false"><button class="btn btn-primary text-white" contenteditable="false" id="button_sel_5416_get_started">Next</button></a></div>
</div>
</div><div class="hero min-h-screen ease-in duration-800" style="background-image: url(&quot;/images/december-daisy/take-photo.jpg&quot;); background-repeat: no-repeat; background-position: center center; background-size: cover; position: relative; background-attachment: fixed;" contenteditable="false" id="div_sel_4751____hello_there_">
<div class="hero-content backdrop-blur-lg text-center text-neutral-content bg-neutral md:rounded-lg bg-opacity-70 dsParams_(left:4,top:4,blur:10,opacity:0.5,color:black)" contenteditable="false" style="position: static; " id="div_sel_3395___and_once_agai">
<div class="max-w-md" id="div_sel_5671__hello_there__p" contenteditable="false">
<h1 class="mb-5 text-5xl font-bold" id="h1_sel_8074_hello_there" contenteditable="false">And once again<br></h1>

<p class="mb-5 text-lg" contenteditable="false" id="p_sel_5061_provident_cupid">Backgrounds of these Hero Sections can be changed in&nbsp; few clicks also, all you need to do is to provide those images. Use camera, or AI - it's your choice.<br></p>
<a href="#div_sel_1585____hello_there_"><button class="btn btn-primary text-white" contenteditable="false" id="button_sel_8130_get_started">Next Section</button></a></div>
</div>
</div><div class="hero min-h-screen ease-in duration-800" style="background-image: url(&quot;/images/december-daisy/clock.jpg&quot;); background-repeat: no-repeat; background-position: center center; background-size: cover; position: relative; background-attachment: fixed;" contenteditable="false" id="div_sel_1585____hello_there_">
<div class="hero-content backdrop-blur-lg text-center text-neutral-content bg-neutral md:rounded-lg bg-opacity-70" contenteditable="false" id="div_sel_6383___hello_there__" style="position: static; right: 2%; top: 2%;">
<div class="max-w-md">
<h1 class="mb-5 text-5xl font-bold" id="h1_sel_1301_hello_there" contenteditable="false">The best is yet to come<br></h1>

<p class="mb-5 text-lg" contenteditable="false" id="p_sel_1698_provident_cupid">Create menus and categories, assign menu items and category items, manage users, forms, create content with the same principle as you create templates, on as many languages as you wish. Each page can have a different template, if you wish so.<br></p>
<a href="#"></a><a href="#net_124_5_28_15_19_26" contenteditable="false"><button class="btn btn-primary text-white" contenteditable="false" id="button_sel_3300_get_started">Show me</button></a></div>
</div>
</div><div class="draggable templateDiv bg-secondary text-primary-content" id="net_124_5_28_15_19_26" style="color: rgb(255, 255, 255); border: 0px;" contenteditable="false">
	<p class="objContent" id="p_sel_3246_netobject_124_5" contenteditable="false">{menu:display:1}
</p>
</div>
</div>
<div class="col-span-6  inline-flex items-center gap-2 pl-8">{language:flags}</div>
<div class="col-span-6 grid items-center justify-items-end min-h-20 pr-8">{searchform}</div>
<div id="wrp" class="grid grid-cols-12 col-span-12">
<div id="sdb" class="leftcolumn col-span-12 md:col-span-4 p-8 bg-base-100" contenteditable="false">
<div id="t1menu-vertical" class="text-primary-content bg-secondary templateDiv rounded-lg" contenteditable="false" style="color: rgb(255, 255, 255);">{menu:display:1:vertical}</div>
<div id="t1menu" class="mt-2" contenteditable="false">{menu:display:1:tree}</div>
<div>{liveblock:user:loginArea}</div>
<div>
<p>{adminurl}</p>
</div>


</div>
<div id="cnt" class="sheet col-span-12 md:col-span-8 p-8 bg-base-200 prose" contenteditable="false">
<div>
<h1 class="text-2xl">{title}</h1>
</div>
<div>{content}</div>
</div>
</div>
<div id="ftr" class="col-span-12 p-8 text-neutral-content ui-resizable" contenteditable="false" style="position: relative;">
<div>
<p>Copyright © 2010-present Nebojsa Tomic | Powered by <a href="https://github.com/nebojsatomic/IDE21" target="_blank">IDE21</a><img src="/images/backgrounds/ide21logo.png" class="w-12 inline-flex" id="img_sel_499_" contenteditable="false" style="position: static;"></p>
</div>
</div>


</div>


</div><div class="draggable text-accent hover:text-white ease-in duration-200 w-12 fixed right-4 bottom-4 templateDiv activeObject" id="net_124_11_25_17_0_20" style="border: 0px; z-index: 500;" contenteditable="false">
	<a href="" onclick="window.scrollTo(0, 0); return false;"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-12">
  <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm.53 5.47a.75.75 0 0 0-1.06 0l-3 3a.75.75 0 1 0 1.06 1.06l1.72-1.72v5.69a.75.75 0 0 0 1.5 0v-5.69l1.72 1.72a.75.75 0 1 0 1.06-1.06l-3-3Z" clip-rule="evenodd"></path>
</svg></a>
</div><div class="draggable templateDiv" id="net_124_11_20_21_1_26" style="border: 0px; z-index: 500; position: fixed; left: 0px; top: 0px;" contenteditable="false">
<div class="dropdown mb-72">
  <div tabindex="0" role="button" class="btn m-1">
    Theme
    <svg width="12px" height="12px" class="inline-block h-2 w-2 fill-current opacity-60" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2048 2048">
      <path d="M1799 349l242 241-1017 1017L7 590l242-241 775 775 775-775z"></path>
    </svg>
  </div>
  <ul tabindex="0" class="dropdown-content bg-base-300 rounded-box z-[1] w-52 p-2 shadow-2xl">
    <li>
      <input type="radio" name="theme-dropdown" class="theme-controller btn btn-sm btn-block btn-ghost justify-start" aria-label="Default" value="default">
    </li>
    <li>
      <input type="radio" name="theme-dropdown" class="theme-controller btn btn-sm btn-block btn-ghost justify-start" aria-label="Retro" value="retro">
    </li>
    <li>
      <input type="radio" name="theme-dropdown" class="theme-controller btn btn-sm btn-block btn-ghost justify-start" aria-label="Cyberpunk" value="cyberpunk">
    </li>
    <li>
      <input type="radio" name="theme-dropdown" class="theme-controller btn btn-sm btn-block btn-ghost justify-start" aria-label="Valentine" value="valentine">
    </li>
    <li>
      <input type="radio" name="theme-dropdown" class="theme-controller btn btn-sm btn-block btn-ghost justify-start" aria-label="Aqua" value="aqua">
    </li>
  </ul>
</div>
</div>























<div class="draggable ui-draggable ajax-loader templateDiv ui-resizable-autohide" id="net_111_5_14_18_36_5" style="position: absolute; border: 0px; z-index: 999999; left: 456px; top: 402px; display: none;" contenteditable="false"><p class="objContent"><img src="/images/coreTemplate1/ajax-loader.gif" alt="ajaxloader" width="220" height="136"></p>


</div>




