/*THIS IS FROM default_proba.css- BEGIN*/

/*THIS IS FROM default_proba.css- END*/


/*THIS IS FROM default_admin3.css- BEGIN*/

/*THIS IS FROM default_admin3.css- END*/


/*THIS IS FROM default_firstadmin.css- BEGIN*/

/*THIS IS FROM default_firstadmin.css- END*/


/*THIS IS FROM default_admin2.css- BEGIN*/

/*THIS IS FROM default_admin2.css- END*/


/*THIS IS FROM default_admin.css- BEGIN*/

/*THIS IS FROM default_admin.css- END*/


/*THIS IS FROM default_nebojsa.css- BEGIN*/
/*
themes specific css styles which need to be applied for all
*/
dl{
margin:0;
padding:0;
}
dd{
position:relative;
}



/*
themes specific css styles which need to be applied for all - END
*/

#net_110_5_16_15_50_5{border:1px solid #555555;}
#centerWrapper{width:1080px;overflow:visible;}
#net_110_5_16_14_58_19 ul{
background:none;
border:0;
font-family:"Trebuchet MS";
text-transform:uppercase;
height:50px;
}
#net_110_5_16_14_58_19 ul li a{
background:none;
border:0;
font-family:"Trebuchet MS";
text-transform:uppercase;
font-size:15px;
font-weight:bold;
height:25px;
color:#66bf51;
}
#net_110_5_16_14_58_19 ul li a:hover{
color:white;
}
#net_110_5_16_14_58_19 ul li{
min-width:40px;
height:25px;
padding:20px;

}
#net_110_5_16_14_58_19 ul li.normalMenu{
min-width:40px;
height:25px;
padding:20px;

}
#net_110_5_16_14_58_19 ul li.hoveredMenu a{

color:white;
}


#net_110_5_16_14_58_19 ul li:hover{
background:url(http://demo.cms-ide.net/public/images/LabZvukaSlice/LabMenuHover.jpg) repeat-x;
min-width:40px;
color:white;
}

#net_110_2_29_0_58_22  #wrp #sdb .zend_form input[type=submit]:hover{
border:0;
height:25px;
background:#f4f4f4;
width:100%;
}
#net_110_2_29_0_58_22  #wrp #sdb .zend_form input[type=submit]{
border:0;
height:25px;
background:#555555;
width:100%;
}
#net_110_2_29_0_58_22  #wrp #sdb .zend_form input{
border:0;
border-bottom:1px dotted #cccccc;
border-top:1px dotted #cccccc;
height:15px;
padding:3px;
background:#f4f4f4;
width:100%;
}

#net_110_3_16_1_49_28{
overflow:visible;
}
#net_110_3_16_1_49_28 #searchForm .zend_form input[type="text"]{

border-bottom:1px dotted #ffffff;
border-top:1px dotted #ffffff;
border:0;
height:20px;
padding:8px;
padding-bottom:0;
padding-top:3px;
background:transparent;
}

#net_110_3_18_15_3_25 ul li ul{
/*
-moz-border-radius:8px;
-webkit-border-radius:8px;
-moz-box-shadow:1px 2px 10px;
-webkit-box-shadow:1px 2px 10px #555555;
*/
overflow:visible;
}
#net_110_3_18_15_3_25  ul li{
border-bottom:0px dotted #cccccc;
}

ul.jd_menu_vertical{
margin-bottom:25px;
}
#net_110_2_29_0_58_22{
/*
box-shadow:1px 2px 10px #555555;
-moz-box-shadow:1px 2px 10px #555555;
-webkit-box-shadow:1px 2px 10px #555555;
border:1px solid #555555;
*/
background:none;
}
#net_110_2_29_0_58_22 #ftr{
width:1100px;
height:auto !important;
min-height:20px;
float:left;
padding:20px;
padding-bottom:0px;
padding-right:30px;
background:none;

margin-left:-30px;
}
#net_110_2_29_0_58_22 #ftr p{
width:30%;
margin:0 auto;
padding-top:25px;
float:right;
}

#net_110_2_29_0_58_22 #ftr div{
left:-15px;
top:0px;
float:left;
}


#net_110_2_29_0_58_22  #wrp #cnt div object{
width:800px;
/*-moz-box-shadow:1px 2px 10px #555555;
-webkit-box-shadow:1px 2px 10px #555555;*/
}
#net_110_2_29_0_58_22  #wrp #sdb .whiteTheme ul li ul{
/*-moz-border-radius-bottomleft:8px;
-moz-border-radius-bottomright:8px;
-webkit-border-bottom-left-radius:8px;
-webkit-border-bottom-right-radius:8px;
-moz-box-shadow:1px 2px 10px;
-webkit-box-shadow:1px 2px 10px #555555;
*/

overflow:visible;
}
#net_110_2_29_0_58_22  #wrp #sdb .whiteTheme ul li{
border-bottom:1px dotted #cccccc;
}




#net_110_2_31_21_20_37 img{
width:25px;

}
 #net_110_2_31_21_29_10{
overflow:visible;

}
 #net_110_0_17_18_23_30 h1, h2, h3{
color:#f4f4f4;
}
#net_110_0_19_2_22_35 .zend_form{
font-family:Arial;
font-size:12px;
color:#555555;
}
.coreTemplate1 .zend_form fieldset{
border:0;
}
.coreTemplate1 fieldset legend{
display:none;
}

#net_110_0_19_2_22_35 input[type=text]{
width:432px;
}


#net_110_0_19_2_22_35 textarea{
color:#cccccc;
background:#f4f4f4;
border:1px solid #555555;
width:100%;
}

#net_110_0_17_18_23_30 img{
width:120px;
float:left;
}

#net_110_0_17_18_23_30 img.withPic{
border:3px solid #000000;
}


#net_110_0_17_18_23_30 div div{
width:700px;
margin-left:130px;
margin-bottom:50px;
text-align:justify;
}


#net_109_6_30_12_2_43 img{
margin-right:15px;
border:3px solid #555555;
width:200px;

}

#net_109_11_28_1_25_48{
color:white;

}
#net_109_11_28_1_25_48 a{
color:#f4f4f4;

}
#net_109_11_28_1_25_48 a:hover{
color:#cccccc;

}




#net_110_0_13_19_41_41 img{
width:25px;

}

#net_109_6_29_18_51_1 .cycleImage1{
margin:20px;
margin-left:0;
width:200px;
height:100px;
border:3px solid #555555;
}

 #net_110_0_8_18_47_19 a{
text-decoration:none;
color:#555555;
}
#net_110_0_8_18_47_19 a:hover{
text-decoration:none;
color:#000000;
}

#net_110_0_8_17_17_49 ul li{
background:#e9b703;
border:0;
}
#net_110_0_8_17_17_49 ul li a{
color:#ffffff;

}

#net_110_0_8_17_17_49 ul li:hover{
background:#ca7804;
border:0;

}
#realFooter.gavrilovic{
border-top:1px solid red;
}
#realFooter.coreTemplate1 ul li a{
color:#555555;
}
#realFooter.coreTemplate1 div span{
color:#555555;
font-weight:bold;
}


#realFooter.coreTemplate1 ul li:hover{
background:none;
}
#realFooter.coreTemplate1 ul li a:hover{
text-decoration:underline;
}


 #site_information{
color:#C4E3F3;
width:908px;
list-style:none;

}
#net_110_0_5_16_33_36 #site_information ul{
list-style:none;
background:none;
}
#site_information ul li{
width:auto;
background:none;
}
#site_information li ul{
width:auto;
background:none;
border:0;
padding:0;
}
#site_information li ul li{
font-family:Arial;
font-size:11px;
width:auto;
background:none;
border:0;
padding:0;
padding-right:15px;
}



#site_information a{
text-decoration:none;
color:#C4E3F3;
}
#site_information a:hover{
text-decoration:underline;
color:#C4E3F3;
}



#net_110_0_5_16_33_36 ul, p{
background:none;
border:0;
margin:0;
}
#net_110_0_5_16_33_36{
background:#3b505d;
}
#net_110_0_5_16_33_36 ul li{
height:20px;
width:auto;
padding:30px;
padding-top:16px;
padding-bottom:15px;
border:0;
text-transform:uppercase;
font-family:"Gill Sans MT Condensed";
font-size:20px;

}
#net_110_0_5_16_33_36 ul li:hover{
background:#3b505d;
}



                #realFooter{
border-top:1px solid #f4f4f4;
}
.coreTemplate1 p {
padding:0;
margin:0;
}
#net_109_11_31_17_51_46 ul li ul{
background:#eaebed;
border-left:1px solid #c5ccd4;
border-right:0px solid #c5ccd4;
border-bottom:1px solid #c5ccd4;
border-top:0;
width:auto;
min-width:190px;
margin-left:0px;
}
#net_109_11_31_17_51_46 ul li.jdm_active{
background:none;
}
#net_109_11_31_17_51_46 ul li{
color:#74797d;
padding:5px;
padding-left:20px;
min-width:110px;

border:0;

border-right:1px solid #7c8898;
}
#net_109_11_31_17_51_46 ul li.parent{
color:#74797d;
padding:5px;
padding-left:20px;
min-width:110px;
background:url(../images/coreTemplate2/menuTL.gif) no-repeat right;
border:0;

border-right:1px solid #7c8898;
}
#net_109_11_31_17_51_46 ul li.parent:hover{
color:#74797d;
padding:5px;
padding-left:20px;
min-width:110px;
background:#eaebed url(../images/coreTemplate2/menuhover.gif) no-repeat right;
border:0;

border-right:1px solid #7c8898;
}
#net_109_11_31_17_51_46 ul li a{
margin:0 auto;
}
#net_109_11_31_17_51_46 ul li a:hover{
color:#74797d;
}
#net_109_11_31_17_51_46 ul li ul li a{
color:#74797d;

}

#net_109_11_31_17_51_46 ul li ul li.parentSub{
color:#74797d;
background:#eaebed url(../images/coreTemplate2/menuhover.gif) no-repeat right;
padding:5px;
padding-left:20px;
min-width:110px;

border:0;

border-right:1px solid #7c8898;
}

#net_109_11_31_17_51_46 ul li:hover{
color:#74797d;
background:#eaebed ;/*url(../images/coreTemplate2/menuhover.gif) no-repeat right;*/
padding:5px;
padding-left:20px;
min-width:110px;

border:0;

border-right:1px solid #7c8898;
}

 #net_109_11_31_18_53_59 .zend_form{
padding:0;

}
#net_109_11_31_18_53_59 .zend_form input[type=text]{
border:0;
margin-top:-50px;
}
#net_109_11_31_18_53_59 #submitSearch{
background-image:none;
background:none;
}



.coreTemplate1 .zend_form input[type=text]{
background:#e9e9e9;
-moz-border-radius:0px;
-webkit-border-radius:0px;
border:1px solid #bdbec0;
color:#555555;
width:350px;
height:20px;
padding:2px;
}
.coreTemplate1 .zend_form input[type=password]{
background:#e9e9e9;
border:1px solid #bdbec0;
-moz-border-radius:0px;
-webkit-border-radius:0px;
color:#555555;
width:350px;
height:20px;
padding:2px;
}
.coreTemplate1 .zend_form input[type=submit]{
background:#c3c4c8;
color:#d95100;
text-transform:uppercase;
margin-left:0px;
}
.coreTemplate1 .zend_form fieldset{
border:1px solid #555555;
padding-top:30px;
}
#net_109_11_27_23_53_13 a{
color:#555555;
}
#net_109_11_27_23_53_13 a:hover{
color:#cccccc;
}
#net_109_11_27_23_53_13 ul{
background:none;
border:0;

}
#net_109_11_27_23_53_13 ul li{
background:none;
}
.coreTemplate1 ul{
background:none;
border:0;

}
.coreTemplate1 ul li:hover{
background:url(../images/trspacer.png);
color:#ff5504;
}
#banner_current{display:none;}
/*AAA*/                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         
/*SNOOPY*/
/*FORMA ZA REZERVACIJE*/
#customForm2 {
display:block;
top:170px;
color:white;
width:510px;
margin-top:-40px;
-moz-border-radius:10px;
font-size:12px;
font-family:"Trebuchet MS";
margin-left:0;
margin-right:0;
margin-top:-75px;
}
#customForm2 fieldset{
border:1px solid white;
}

#customForm2 h1{
display:none;
}
#customForm2 dl {
display:block;
padding:0px;
margin:20px;
border: 0px solid white;
-moz-border-radius:10px;
}
#customForm2 input[type=text] {
margin-left:100px;
margin-top:-35px;
width:300px;
height:15px;
border:1px solid silver;
}
#customForm2 textarea {
height:50px;
width:400px;
background:pink;
}

ul.errors li{
color:red;
}
/*CONTENT*/
#net_109_8_12_19_58_13{
color:white;
font-size:12px;
font-family:"Trebuchet MS";
}
#net_109_8_12_19_58_13 h1{
padding-left:0px;
color:white;
font-family:"Trebuchet MS";
}



#net_109_8_11_16_43_49{
background:#f7f7f7;
}
/*ZVEZDICE*/
#net_109_8_11_12_32_57 img{
opacity:0.7;
filter:alpha(opacity=70);

}

#net_109_8_11_12_32_57 img:hover{
opacity:0.9;
filter:alpha(opacity=90);

}
#net_109_8_4_17_38_32 ul li a:hover{
color:#ffcc01;
}
#net_109_8_3_19_58_9 #Slideshow h1:hover{
color:silver;
}
#net_109_8_3_22_35_55 h1{
padding:0;
color:white;
font-style:italic;
}
#net_109_8_3_22_35_55 p{
margin-top:5px;
}

/*hotel gallery*/
#net_109_8_5_11_31_49 div.lb div.lbImage{
width:50px;
height:49px;
overflow:hidden;
margin:1px;
}

#net_109_8_5_11_31_49 div.lb div.lbImage:hover{
opacity:0.7;
filter:alpha(opacity=70);
}

/*restoran gallery*/
#net_109_8_5_11_18_11 div.lb div.lbImage{
width:62px;
height:49px;
overflow:hidden;
margin:1px;
}
#net_109_8_5_11_18_11 div.lb div.lbImage:hover{
opacity:0.7;
filter:alpha(opacity=70);
}


/*SALA Gallery*/
#net_109_8_18_11_41_58 div.lb div.lbImage{
width:60px;
height:49px;
overflow:hidden;
margin:1px;
}
#net_109_8_18_11_41_58 div.lb div.lbImage:hover{
opacity:0.7;
filter:alpha(opacity=70);
}



/*Gallery gallery*/
#net_109_8_5_12_45_7 div.lb div.lbImage{
width:62px;
height:49px;
overflow:hidden;
margin:1px;
}

#net_109_8_5_12_45_7 div.lb div.lbImage:hover{
opacity:0.7;
filter:alpha(opacity=70);
}


/*SNOOPY SLIDESHOW*/
#net_109_8_3_19_58_9 #Slideshow{
background:#555555;
top:-1px;
}
#net_109_8_3_19_58_9 #Slideshow div img{
position:absolute;
top:-72px;
left:-70px;
}
#net_109_8_4_17_38_32 ul{
    background:transparent;
font-family:"Trebuchet MS";
font-size:40px;
text-transform:uppercase;
border:0;
}

#net_109_8_4_17_38_32 ul li{
padding-left:30px;
padding-right:30px;
}
#net_109_8_4_17_38_32 ul.jd_menu li{
font-family:"Trebuchet MS";
font-size:16px;
font-weight:bold;
font-style:italic;
text-transform:uppercase;
}



#net_109_8_4_17_38_32 ul.jd_menu li:hover{
    /*background:#4D0C00;*/

border:0;
}


#net_109_8_4_17_38_32 ul.jd_menu li.jdm_hover,
#net_109_8_4_17_38_32 ul.jd_menu li.jdm_active {
	background-color: transparent;
	color: #FFF;
  border:0;
	
} 


#net_109_8_3_19_58_9 #Slideshow .slideNavig{
width:900px;
}
#net_109_8_3_19_58_9 #Slideshow .slideNavig h1{
margin-right:20px;
margin-left:15px;
font-family:"Trebuchet MS";
font-weight:normal;
font-size:15px;
font-style:italic;
}
#net_109_8_3_19_58_9 #Slideshow div img{
position:absolute;
margin:0;
}


#net_109_8_3_22_35_55{/*text na snoopy main strani*/
font-size:11px;

}

#net_109_7_18_16_56_26 .slideNavig {
width:700px;
}                                                
#net_109_6_29_18_4_55 #Slideshow{

background:#555555 url(../images/templates/1/netSlideNavigBg.png);
top:-440px;
margin-bottom:50px;
}
#net_109_6_29_18_4_55{
margin-top:40px;
top:330px;
width:650px;
overflow:visible;
border-top:1px solid #555555;
}

#net_109_6_29_18_4_55 .slideNavig{
width:650px;
}
#net_109_6_29_18_4_55 #banner{
margin-top:-40px;
}
#net_109_6_29_18_4_55 .banners{
margin-top:50px;
}


#net_109_8_7_18_12_40{
z-index:999999;
}/*search form*/

                                                                                                                                                                                /*footer categories*/
#net_109_6_30_12_43_53 table h1{
color:white;
font-family:Arial; 
}
#net_109_6_30_12_43_53 table td{
font-family:Arial;
color:silver; 
padding-left:150px;
padding-right:0px;
}


#net_109_6_30_12_43_53 table td a{
font-family:Arial;
color:silver; 
text-decoration:none;
}
#net_109_6_30_12_43_53 table td a:hover{
font-family:Arial;
color:white; 
text-decoration:none;
} &nbsp;

#net_109_6_29_18_30_33 p span {
	background:transparent;
}

                table{
	
font-family:Arial;
}
table h1{
	
font-family:Arial;
} 
#net_109_6_30_12_43_53 span span{
font-size:11px;

}
                                                                                                                                                
#net_109_6_30_13_37_32 a{
text-decoration:none;
color:#555555;

}
                                

                /*netObj menu*/

#net_109_6_30_0_40_13{
overflow:visible;
-moz-border-radius:15px;
-webkit-border-radius:15px;
background:url(../images/templates/1/menuMainBg3.png);
}

#net_109_6_30_0_40_13 ul{
border:0;
color:#555555;
background:transparent;
}

#net_109_6_30_0_40_13 li a{
color:white;
}


#net_109_6_30_0_40_13 ul.jd_menu li.jdm_active {
background: url(../images/templates/1/menuMainHover.png) repeat-x -4px;	
color: #FFF;
	
	padding: 10px;
	border: 0px dotted #4b6141;
	border-left: 0px dotted #4b6141;
	border-top: 0px dotted #4b6141;
	
}


#net_109_6_30_0_40_13 ul li ul{

border:0;
width:200px;
}

#net_109_6_30_0_40_13 ul li {
min-width:70px;
padding:10px;
background:none ;
font-style:italic;
border-right:0px solid silver;
}
#net_109_6_30_0_40_13 ul li:hover{
border:0;
padding:10px;
background:url(../images/templates/1/menuMainHover.png) repeat-x -4px;
color:#ffffff;
/*
-moz-border-radius-topleft:10px;
-moz-border-radius-topright:10px;

-webkit-border-top-left-radius:10px;
-webkit-border-top-right-radius:10px;
*/
}


#net_109_6_30_0_40_13 ul li ul li{
background:#f4f4f4;
color:#555555;
margin-left:4px;
}
#net_109_6_30_0_40_13 ul li ul li:hover{
border:0;
padding:10px;
background:#cccccc;
color:#ffffff;
/*
-moz-border-radius-topleft:0px;
-moz-border-radius-topright:0px;

-webkit-border-top-left-radius:0px;
-webkit-border-top-right-radius:0px;
*/
}


#net_109_6_30_0_40_13 ul li ul li a{
color:#555555;
}






#Slideshow div h1{
color:white;
font-size:12px;
font-family:Arial;
margin-left:30px;
}


/*
#net_109_6_29_18_51_1 img{
	
margin:10px;
float:left;

}                                                                                                                                
*/
#net_109_6_29_18_51_1{
width:1000px;
} 

#net_109_6_29_18_51_1 img{
border:0px solid #555555;	
margin:10px;
float:left;

}  





#net_109_6_17_14_45_14{
font-size:11px;
font-family:Arial;
color:#555555;
padding:0;
margin:0;
margin-bottom:30px;

}
#net_109_6_17_14_45_14 h2{
font-family:Arial;
font-size:15px;
color:#555555;

}

 #Slideshow{
	
background:silver;

}                                                                                                                                

/*STYLE FOR UPPER MENU*/
#net_109_6_8_14_22_58{


}


#net_109_6_8_14_22_58 ul.jd_menu, 
#net_109_6_8_14_22_58 ul.jd_menu_vertical {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
#net_109_6_8_14_22_58 ul.jd_menu ul,
#net_109_6_8_14_22_58 ul.jd_menu_vertical ul {
	display: none;
}
#net_109_6_8_14_22_58 ul.jd_menu li {
	float: left;
}
#net_109_6_8_14_22_58 ul.jd_menu_vertical {
	width: auto;
}
#net_109_6_8_14_22_58 ul.jd_menu_vertical li {
	float: none;
}

/* -- Sub-Menus -- */
#net_109_6_8_14_22_58 ul.jd_menu ul,
#net_109_6_8_14_22_58 ul.jd_menu_vertical ul {
	position: absolute;
	display: none;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	z-index: 10000;
}
#net_109_6_8_14_22_58 ul.jd_menu ul li,
#net_109_6_8_14_22_58 ul.jd_menu_vertical ul li {
	float: none;
	margin: 0px;
}


#net_109_6_8_14_22_58 ul.jd_menu,
#net_109_6_8_14_22_58 ul.jd_menu ul,
#net_109_6_8_14_22_58 ul.jd_menu_vertical,
#net_109_6_8_14_22_58 ul.jd_menu_vertical ul {
	background-color: #4b6141;
	border: 0px solid #036;
	border-top: 0px solid #69C;
	border-left: 0px solid #69C;
	
	height: 20px;
}
#net_109_6_8_14_22_58 ul.jd_menu_vertical {
	height: auto;
}
#net_109_6_8_14_22_58 ul.jd_menu ul {
  width:150px;
	height: auto;
}
* html #net_109_6_8_14_22_58 ul.jd_menu ul {
	width: 1%;
}
#net_109_6_8_14_22_58 ul.jd_menu li {
	font-family: sans-serif;
	font-size: 12px;
	color: #FFF;
	
	line-height: 14px;
	
	margin: 0px;
	padding: 4px 7px 3px 7px;
	height: 13px;
	width:auto;
	/*min-width:120px;*/
	
	cursor: pointer;
	white-space: nowrap;
}
#net_109_6_8_14_22_58 ul.jd_menu li li {
	width: auto;
}
#net_109_6_8_14_22_58 ul.jd_menu li a {
	color: #FFF;
	text-decoration: none;
}

#net_109_6_8_14_22_58 ul.jd_menu li.jdm_hover,
#net_109_6_8_14_22_58 ul.jd_menu li.jdm_active {
	background-color: #a0d6a9;
	color: #FFF;
	
	padding: 3px 6px 2px 6px;
	border: 1px dotted #4b6141;
	border-left: 1px dotted #4b6141;
	border-top: 1px dotted #4b6141;
	
}
                

/*STYLE FOR UPPER MENU TILL HERE*/



/*STYLE FOR MAIN MENU*/
#net_109_6_8_13_53_24{


}



#net_109_6_8_13_53_24 ul.jd_menu, 
#net_109_6_8_13_53_24 ul.jd_menu_vertical {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
#net_109_6_8_13_53_24 ul.jd_menu ul,
#net_109_6_8_13_53_24 ul.jd_menu_vertical ul {
	display: none;
}
#net_109_6_8_13_53_24 ul.jd_menu li {
	float: left;
}
#net_109_6_8_13_53_24 ul.jd_menu_vertical {
	width: auto;
}
#net_109_6_8_13_53_24 ul.jd_menu_vertical li {
	float: none;
}

/* -- Sub-Menus -- */
#net_109_6_8_13_53_24 ul.jd_menu ul,
#net_109_6_8_13_53_24 ul.jd_menu_vertical ul {
	position: absolute;
	display: none;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	z-index: 10000;
}
#net_109_6_8_13_53_24 ul.jd_menu ul li,
#net_109_6_8_13_53_24 ul.jd_menu_vertical ul li {
	float: none;
	margin: 0px;
}


#net_109_6_8_13_53_24 ul.jd_menu,
#net_109_6_8_13_53_24 ul.jd_menu ul,
#net_109_6_8_13_53_24 ul.jd_menu_vertical,
#net_109_6_8_13_53_24 ul.jd_menu_vertical ul {
	background-color: #4b6141;
	border: 0px solid #036;
	border-top: 0px solid #69C;
	border-left: 0px solid #69C;
	
	height: 20px;
}
#net_109_6_8_13_53_24 ul.jd_menu_vertical {
	height: auto;
}
#net_109_6_8_13_53_24 ul.jd_menu ul {
  width:150px;
	height: auto;
}
* html #net_109_6_8_13_53_24 ul.jd_menu ul {
	width: 1%;
}
#net_109_6_8_13_53_24 ul.jd_menu li {
	font-family: sans-serif;
	font-size: 12px;
	color: #FFF;
	
	line-height: 14px;
	
	margin: 0px;
	padding: 4px 7px 3px 7px;
	height: 13px;
	width:auto;
	/*min-width:120px;*/
	
	cursor: pointer;
	white-space: nowrap;
}
#net_109_6_8_13_53_24 ul.jd_menu li li {
	width: auto;
}
#net_109_6_8_13_53_24 ul.jd_menu li a {
	color: #FFF;
	text-decoration: none;
}

#net_109_6_8_13_53_24 ul.jd_menu li.jdm_hover,
#net_109_6_8_13_53_24 ul.jd_menu li.jdm_active {
	background-color: #a0d6a9;
	color: #FFF;
	
	padding: 3px 6px 2px 6px;
	border: 1px dotted #4b6141;
	border-left: 1px dotted #4b6141;
	border-top: 1px dotted #4b6141;
	
}
                

/*STYLE FOR MAIN MENU TILL HERE*/




#net_109_6_9_13_40_45{
font-family:Arial;
font-size:13px;
color:#182914;
}

#net_109_6_9_13_40_45 h1{
padding-left:0;
color:#182914;
}


#net_109_6_9_13_40_45 a{
text-decoration:none;
color:#182914;
}
#net_109_6_9_13_40_45 a:hover{

color:yellow;
}



/*left side category*/


#net_109_6_11_15_4_41{
font-family:Arial;
font-size:13px;
color:#555555;
}

#net_109_6_11_15_4_41 h1{
padding-left:0;
color:#555555;
}


#net_109_6_11_15_4_41 a{
text-decoration:none;
color:#555555;
}
#net_109_6_11_15_4_41 a:hover{

color:black;
}


                                                                                                
#categoriesTable td{
width:200px;
padding-left:50px;
padding-right:50px;
}
#categoriesTable td a{
width:200px;
color:white;
text-decoration:none;
}
#categoriesTable td a:hover{
width:200px;
color:yellow;
}


#categoriesTable{
width:100%;
padding:0;
font-family:Arial;
}
#categoriesTable h1{
padding:0;
color:#5fa0a3;
font-family:Arial;
text-transform:uppercase;

}


#net_109_6_8_13_53_24{
width:600px;


}
                                                                                                                
#net_109_6_8_14_22_58{
/*right:0;*/

}
                                                                                                                                                                
#net_109_5_12_18_37_18 ul{

background:white;
font:normal 12px "Verdana";
}

#net_109_5_12_18_37_18 ul li a{
color:#555555;
text-decoration:none;

}
#net_109_5_12_18_37_18 ul li a:hover{
color:silver;


}


h1{
	color:darkblue;
}

                                
#net_109_5_30_12_56_36{
text-decoration:none;

}
                
#net_109_5_30_12_55_6{

color:black;
}



/*OVO PREBACITI U STYLE ZA SVE SAJTOVE*/
.zend_form dd {
  margin:0;
  font-family:Arial;
}
#searchForm input{
  border:1px solid #555555;
  border-right:2px solid #555555;
  border-left:2px solid #555555;
  color:silver;
  width:175px;
  background:transparent;
}           
#searchForm input[type=submit]{
  border:0px solid #555555;
  height:70px;
  width:70px;
  margin-top:-50px;
  margin-right:0px;
  z-index:1100;

}

.searchHeaading{
font-family:Arial;
color:silver;
padding:0;

}
            
.horizontalLine{
height:10px;
border-bottom:1px dotted silver;
}            
            
#searchResults {
  font-family:Arial;
  font-size:11px;


}           
#searchResults a{
text-decoration:none;
color:lightblue;
}

#searchResults a:hover{
text-decoration:none;
color:#555555;
}            
            
.lbImage {
border:0 solid #555555;
float:left;
height:auto;
width:auto;
}           
            
            
 /*DONET*/ 

/*FOOTER*/
#net_109_7_19_17_30_19{
font-family:Arial;

}
#net_109_7_19_17_30_19 a{
font-family:Arial;
font-size:12px;
}
#net_109_7_19_17_30_19 a:hover{
color:#555555;


}


/*CATEGORIJE*/
#net_109_7_27_23_4_49 h1{
font-family:Arial;
font-size:14px;
text-transform:uppercase;
padding:0;
color:darkblue;
}

#net_109_7_27_23_4_49 a{
font-family:Arial;
font-size:12px;
font-weight:bold;
font-style:italic;
padding-left:20px;
color:#555555;
text-decoration:none;
}
#net_109_7_27_23_4_49 a:hover{
font-family:Arial;
padding-left:20px;
color:black;
text-decoration:none;
}



#net_109_7_27_23_5_17 h1{
font-family:Arial;
font-size:14px;
text-transform:uppercase;
padding:0;
color:darkblue;
}

#net_109_7_27_23_5_17 a{
font-family:Arial;
font-size:12px;
font-weight:bold;
font-style:italic;
padding-left:20px;
color:#555555;
text-decoration:none;
}
#net_109_7_27_23_5_17 a:hover{
font-family:Arial;
padding-left:20px;
color:black;
text-decoration:none;
}

#net_109_7_27_23_5_47 h1{
font-family:Arial;
font-size:14px;
text-transform:uppercase;
padding:0;
color:darkblue;
}

#net_109_7_27_23_5_47 a{
font-family:Arial;
font-size:12px;
font-weight:bold;
font-style:italic;
padding-left:20px;
color:#555555;
text-decoration:none;
}
#net_109_7_27_23_5_47 a:hover{
font-family:Arial;
padding-left:20px;
color:black;
text-decoration:none;
}








#net_109_7_18_17_10_59{
left:200px;
}

.dTableHead td{
background:silver;
}
#net_109_7_22_13_32_38 .donetTables{
background:#lightblue;
border:1px solid #555555;
}


#net_109_7_22_13_32_38 .donetTables tr:odd td{
background:#cccccc;

}

.tableHeaders td{
background:#f5f5f5;

font-size:14px;
font-weight:bold;
}
#net_109_7_18_17_26_20{
filter:alpha(opacity=70);
}


#net_109_7_22_13_32_38{
font-family:Arial;
font-size:12px;
} 
.over{
background:#f4f4f4;

}

.over td{
background:#f4f4f4;

}

#net_109_7_22_13_32_38 table{
border:0;
background:lightblue;
}


#net_109_7_18_16_56_26 #Slideshow div img{
position:absolute;
top:-20px;	

}                                
/*MAIN MENU*/
#net_109_7_18_15_10_0 ul{
	background:transparent;
text-transform:uppercase;
border:0;
font-weight:bold;
}

#net_109_7_18_15_10_0 ul li a:hover{
/*
	background:transparent;
text-transform:uppercase;
border:0;
color:#f4f4f4;
*/
}

#net_109_7_18_15_10_0 ul li{
background:transparent;
padding-left:20px;
padding-right:20px;
height:20px;
border:0;
color:#f4f4f4;
font-weight:bold;
}


#net_109_7_18_15_10_0 ul li:hover{
background:#053577;

border:0;
color:#cccccc;
}

 




#net_109_7_18_16_56_26 #Slideshow div h1{
font-family:Arial;
font-size:12px;
color:white;

}
#net_109_7_18_16_56_26 #Slideshow{
background:#555555;
width:800px;
top:-70px;

}

#net_109_7_18_16_56_26 #Slideshow h1:hover{
/*color:#cccccc;*/

}
/*DONET*/
            
/*NET*/

/*net slide*/
#net_109_6_29_18_51_1 div.lb div.lbImage{
width:85px;
height:100px;
overflow:hidden;
margin:2px;
border:1px solid #555555;
-moz-border-radius:5px;
-webkit-border-radius:5px;
}

#net_109_6_29_18_51_1 div.lb div.lbImage:hover{
opacity:0.7;
filter:alpha(opacity=70);
}


/*NEt DemoImages*/
#net_109_6_30_12_2_43 div.lb div.lbImage{
width:85px;
height:100px;
overflow:hidden;
margin:2px;
border:1px solid #555555;
-moz-border-radius:5px;
-webkit-border-radius:5px;
}

#net_109_6_30_12_2_43 div.lb div.lbImage:hover{
opacity:0.7;
filter:alpha(opacity=70);
}

#net_109_6_29_18_4_55 div.lb div.lbImage{
width:85px;
height:100px;
overflow:hidden;
margin:2px;
border:1px solid #555555;
-moz-border-radius:5px;
-webkit-border-radius:5px;
}

#net_109_6_29_18_4_55 div.lb div.lbImage:hover{
opacity:0.7;
filter:alpha(opacity=70);
}



/*SLIKE U CYCLEU*/
#net_109_9_1_20_22_43 img{
width:920px;
border:5px solid #555555;
-moz-border-radius:5px;
-webkit-border-radius:5px;
}
#net_109_9_1_18_16_14 img{
width:920px;
border:5px solid #555555;
-moz-border-radius:5px;
-webkit-border-radius:5px;
}
#net_109_9_1_20_27_6 img{
width:920px;
border:5px solid #555555;
-moz-border-radius:5px;
-webkit-border-radius:5px;
}

/*LANG img hover*/

#net_109_8_23_21_57_6 img:hover{
opacity:0.7;
filter:alpha(opacity=70);
}  
/*
table{
float:left;
}
*/
div.tatooedBottom{
margin-left:100px;
margin-top:-10px;
width:400px;
height:260px;
background:transparent /*url(../images/backgrounds/tatooedBottom.png) no-repeat*/;
float:left;
}      
            
body{
padding:0;
margin:0;
}
#net_112_0_25_13_24_3{
  border:0;

}
@charset "utf-8";
/* CSS Document */

/* =reset.css (by Andy Clarke) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin : 0; padding : 0; border : 0; outline : 0; font-weight : inherit; font-style : inherit; font-size : 100%; font-family : inherit; vertical-align: baseline; background : transparent; text-align:justify }

strong { font-weight:bold; }


/* =clear */
.clear { clear: both; font-size: 1px; line-height: 0; }
/* =clearfix */
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block;}
/* Hides from IE-mac \*/ * html .clearfix {height: 1%;} .clearfix {display: block;} /* End hide from IE-mac */

h1, h2, h3, p, a { font-family:Arial, Helvetica, sans-serif; }

body { background:url(../img/bg_body.jpg) no-repeat center top #07060b; }

.top { width:100%; height:64px; float:left; background:url(/dev/public/images/tango/bg_top.png) repeat-x left top; position:absolute; top:0; left:0; color:#FFFFFF }

.wrapper { width:980px; margin:0 auto; }

/* Top quotes */
.top-quotes { width:92%; float:left; padding:13px 0 25px 0; }
.top-quotes .top-quotes-inner { float:right; position:relative; }
.top-quotes .top-quotes-inner .q-left { width:19px; height:12px; background:url(../img/bg_top_quote_left.png) no-repeat left top; position:absolute; bottom:-7px; left:-10px; }
 .top-quotes .top-quotes-inner .q-right { width:19px; height:14px; background:url(../img/bg_top_quote_right.png) no-repeat left top; position:absolute; top:-7px; right:-10px; }
 .top-quotes .top-quotes-inner .q-sr {
	width:31px;
	height:18px;
	position:absolute;
	top:0px;
	right:-49px;
}
 .top-quotes .top-quotes-inner .q-en {
	width:31px;
	height:18px;
	position:absolute;
	top:0px;
	right:-78px;
	
}
.top-quotes .top-quotes-inner h3 { font-size:15px; color:#bfc1c2; }

/* Navigation & Logo */
 .main-menu { width:275px; height:220px; float:left; position:relative; }
 .main-menu img { float:right; position:relative; z-index:1; }
 .main-menu ul { width:370px; height:230px; float:left; position:absolute; top:0; left:0; z-index:2; }
 .main-menu ul li { position:absolute; display:block; line-height:1px; }
 .main-menu ul li a { font-size:14px; color:#fff; text-decoration:none; }
 .main-menu ul li a:hover { color:#af0101; }
 .main-menu ul li.home { top:47px; left:111px; }
 .main-menu ul li.institute { top:75px; left:15px; text-align:right; }
 .main-menu ul li.school { top:136px; left:10px; text-align:right; }
.main-menu ul li.tango { top:180px; left:46px; text-align:right; }
 .main-menu ul li.partners { top:209px; left:93px; text-align:right; }
.main-menu ul li.gallery { top:156px; right:122px; }
 .main-menu ul li.contact { top:122px; right:60px; }
 .main-menu ul li.festival { top:57px; right:9px; }
 .main-menu ul li.news { top:28px; right:51px; }
 .main-menu ul li.bgtango { top:-1px; right:55px; }


/* Slider */
 .slider { width:602px; height:262px; float:right; border:1px solid #16212b; background:url(../img/bg_transparent01.png) repeat left top; padding:10px; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px; -webkit-box-shadow: #111314 0px 0px 4px; -moz-box-shadow: #111314 0px 0px 4px; box-shadow: #111314 0px 0px 4px; behavior: url(../js/PIE.htc); position:relative; }
 .slider .slider-inner { width:600px; float:left; }
 .slider .slider-inner ul { float:left; width:600px; }
 .slider .slider-inner ul li { width:600px; overflow:hidden; }
 .slider .slider-inner ul li img { width:600px; height:260px; overflow:hidden; }
 .slider #prevBtn { width:29px; height:29px; background:url(/dev/public/images/tango/bg_slider_nav.png) no-repeat 0 0; position:absolute; bottom:15px; left:15px; cursor:pointer; }
 .slider #prevBtn a { width:29px; height:29px; text-decoration:none; float:left; }
 .slider #nextBtn { width:29px; height:29px; background:url(/dev/public/images/tango/bg_slider_nav.png) no-repeat right 0; position:absolute; bottom:15px; left:45px; cursor:pointer; }
 .slider #nextBtn a { width:29px; height:29px; text-decoration:none; float:left; }

/* Events */
.events { width:100%; float:left; padding:65px 0 45px 0; }
 .events .event { width:445px; height:205px; background:url(/dev/public/images/img/tango/bg_transparent02.png) repeat left top; border:1px solid #16212b; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; -webkit-box-shadow: #111314 0px 0px 4px; -moz-box-shadow: #111314 0px 0px 4px; box-shadow: #111314 0px 0px 4px; behavior: url(../js/PIE.htc); padding:20px; position:relative; float:left; }

.events .event .event-content { width:260px; float:left; padding-left:185px; }
 .events .event .event-content .title { width:100%; height:95px; float:left; }
 .events .event .event-content .title h2 { width:100%; float:left; font-size:25px; color:#fff; }
 .events .event .event-content .title h3 { width:100%; float:left; font-size:18px; color:#fff; }
 .events .event .event-content .title a { float:left; color:#fff; }
 .events .event .event-content .text { width:100%; float:left; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#fff; }
 .events .event .event-content .text a { color:#71899c; text-decoration:none; }
 .events .event .event-content .text a:hover { color:#fff; }

 .events .event-r { float:right; }
 .events .event-r .event-content { width:260px; float:left; padding:0 185px 0 0; }
 .events .event-r .event-content .title { width:100%; height:95px; float:left; }
 .events .event-r .event-content .text { width:100%; float:left; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#fff; }

 .events .event .event-img { width:190px; height:327px; position:absolute; left:0; bottom:0; }
 .events .event-r .event-img { width:300px; height:311px; position:absolute; left:270px; bottom:0; }


.content { width:100%; float:left; padding:20px 0 40px 0; }
.secondary-content { width:315px; float:left; }
 .primary-content { width:624px; float:right; }

/* Breadcrumbs */
 .primary-content ul.breadcrumbs { width:100%; float:left; padding:0 0 24px 0; }
 .primary-content ul.breadcrumbs li { float:left; display:block; font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#667077; padding-right:10px; }
 .primary-content ul.breadcrumbs li a { float:left; display:block; color:#667077; text-decoration:none; background:url(../img/bullet01.png) no-repeat right 6px; padding-right:10px; }
 .primary-content ul.breadcrumbs li a:hover { color:#8d9aa2; }

.primary-content .title { width:100%; float:left; padding:15px 0 20px 0; }
 .primary-content .title h1 { width:550px; float:left; font-size:22px; color:#fff; text-transform:uppercase; }
 .primary-content .title ul.page-tools { width:50px; float:right; padding-top:10px; }
 .primary-content .title ul.page-tools li { float:left; display:block; padding-left:8px; }
 .primary-content .title ul.page-tools li a { float:left; text-indent:-9999px; width:10px; height:10px; }
 .primary-content .title ul.page-tools li a.send-friend { background:url(/dev/public/images/tango/tango_sprite.png) no-repeat 0 0; }
 .primary-content .title ul.page-tools li a.send-friend:hover { background:url(/dev/public/images/tango/img/tango_sprite.png) no-repeat 0 -11px; }
 .primary-content .title ul.page-tools li a.print { background:url(/dev/public/images/tango/tango_sprite.png) no-repeat -11px 0; }
 .primary-content .title ul.page-tools li a.print:hover { background:url(/dev/public/images/tango/tango_sprite.png) no-repeat -11px -11px; }

 .primary-content .sub-title { width:100%; float:left; padding-bottom:40px; }
 .primary-content .sub-title h2 { width:100%; float:left; font-size:23px; color:#8e9aa5; }

/* Rich text */
 .primary-content .rich-text { width:100%; float:left; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#e0e3e4; line-height:18px; }
 .primary-content .rich-text p { padding-bottom:15px; }
 .primary-content .rich-text a { color:#728594; text-decoration:none; }
.primary-content .rich-text a:hover { color:#fff; }

/* Rich text */
 .primary-content .rich-text2 {  float:left; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#e0e3e4; line-height:18px; }
 .primary-content .rich-text2 p { padding-bottom:15px; }
 .primary-content .rich-text2 a { color:#728594; text-decoration:none; }
.primary-content .rich-text2 a:hover { color:#fff; }

/* Vertical menu */
 .secondary-content .verical-menu { width:290px; float:left; background:url(../img/bg_vertical_menu.png) repeat-x left bottom; border:1px solid #141d27; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; -webkit-box-shadow: #111314 0px 0px 4px; -moz-box-shadow: #111314 0px 0px 4px; box-shadow: #111314 0px 0px 4px; behavior: url(../js/PIE.htc); padding:15px; margin-bottom:25px; }
 .secondary-content .verical-menu ul { width:100%; float:left; }
 .secondary-content .verical-menu ul li { width:250px; float:left; padding:12px 20px; display:block; background:url(../img/sep01.png) repeat-x left bottom; line-height:10px; }
.secondary-content .verical-menu ul li.last { background:none; }
 .secondary-content .verical-menu ul li a { font-size:17px; color:#fff; text-decoration:none; }
 .secondary-content .verical-menu ul li a:hover { color:#af0101; }

/* Facebook like */
 .secondary-content .fb-like { width:240px; float:left; padding:48px 20px 14px 70px; }
 .secondary-content .fb-like2 { width:240px; float:left; padding:48px 20px 14px 20px; }

/* Page block */
.wrapper .secondary-content .block { width:280px; float:left; background:url(../img/bg_vertical_menu.png) repeat-x left bottom; border:1px solid #141d27; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; -webkit-box-shadow: #111314 0px 0px 4px; -moz-box-shadow: #111314 0px 0px 4px; box-shadow: #111314 0px 0px 4px; behavior: url(../js/PIE.htc); padding:20px; position:relative; color:#728594; font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:18px; position:relative; margin-bottom:10px; }
.wrapper .secondary-content .block a { color:#fff; text-decoration:none; }
.wrapper .secondary-content .block a:hover { color:#728594; }
.wrapper .secondary-content .block h2 { color:#fff; float:left; width:100%; font-size:18px; padding-bottom:10px; }
.wrapper .secondary-content .block .novi-upis { width:85px; height:83px; background:url(../img/tag_novi_upis.png) no-repeat left top; position:absolute; top:-50px; left:-28px; }

/* Partners */
.wrapper .partners-outer { width:100%; float:left; }
.wrapper .partners-outer h2 { width:100%; float:left; color:#728594; font-size:20px; padding-bottom:15px; }
.wrapper .partners-outer .partners-block { width:878px; float:left; background:url(../img/bg_partners.png) repeat-x left top; padding:25px 50px; border:1px solid #16212b; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; -webkit-box-shadow: #111314 0px 0px 4px; -moz-box-shadow: #111314 0px 0px 4px; box-shadow: #111314 0px 0px 4px; behavior: url(../js/PIE.htc); }

/* Footer */
.wrapper .footer { width:100%; float:left; padding:20px 0; color:#536370; font-size:12px; }
.wrapper .footer span.left { width:400px; float:left; }
.wrapper .footer span.right { width:400px; float:right; text-align:right; }
.wrapper .footer a { color:#fff; }

/* They said block */
.wrapper .primary-content .festival-quotes { width:622px; float:left; background:url(../img/bg_block_large.png) repeat-x left bottom; border:1px solid #1f313c; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; -webkit-box-shadow: #111314 0px 0px 4px; -moz-box-shadow: #111314 0px 0px 4px; box-shadow: #111314 0px 0px 4px; behavior: url(../js/PIE.htc); }
.wrapper .primary-content .festival-quotes .inner { width:572px; float:left; background:url(../img/tango_natural_logo_large.png) no-repeat right top; padding:25px; }
.wrapper .primary-content .festival-quotes .inner h2 { width:100%; float:left; color:#fff; font-size:18px; }
.wrapper .primary-content .festival-quotes .inner ul { width:100%; float:left; }
.wrapper .primary-content .festival-quotes .inner ul li { width:100%; float:left; display:block; padding-top:25px; }
.wrapper .primary-content .festival-quotes .inner ul li p { width:100%; float:left; color:#728594; font-size:15px; text-align:right; line-height:18px; }
.wrapper .primary-content .festival-quotes .inner ul li span { width:100%; float:left; color:#fff; font-size:16px; text-align:right; padding-top:5px; }


/* Tango Sign Up Form */
.wrapper .primary-content .sing-up-form { width:545px; float:left; padding:30px 0 0 77px; }
.wrapper .primary-content .sing-up-form div { width:100%; float:left; padding-bottom:15px; }
.wrapper .primary-content .sing-up-form div label { width:115px; float:left; padding-top:10px; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#fff; }
.wrapper .primary-content .sing-up-form .input input { width:265px; float:left; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#8394a1; font-style:italic; background:url(../img/bg_input.png) repeat-x left top; border:0; padding:10px; -webkit-border-radius:7px; -moz-border-radius:7px; border-radius:7px; behavior: url(../js/PIE.htc); }
.wrapper .primary-content .sing-up-form .input textarea { width:325px; height:107px; float:left; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#8394a1; background:url(../img/bg_textarea.png) repeat-x left top; border:0; padding:10px; -webkit-border-radius:7px; -moz-border-radius:7px; border-radius:7px; behavior: url(../js/PIE.htc); }
.wrapper .primary-content .sing-up-form .submit { width:120px; padding-left:115px;}
.wrapper .primary-content .sing-up-form .submit input { width:100px; float:left; background:url(../img/btn_red.png) repeat-x 0 0; border:1px solid #a20c0c; cursor:pointer; font-size:14px; color:#1c0202; text-shadow:1px 1px #7b3434; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; behavior: url(../js/PIE.htc); padding:6px 0; font-weight:bold; text-transform:uppercase; }
.wrapper .primary-content .sing-up-form .submit input:hover { background:url(../img/btn_red.png) repeat-x 0 -32px; }

/* Gallery Inner */
.wrapper .primary-content .small-gallery { width:622px; float:left; background:url(../img/bg_block_gallery.png) repeat-x left bottom; border:1px solid #1f313c; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; -webkit-box-shadow: #111314 0px 0px 4px; -moz-box-shadow: #111314 0px 0px 4px; box-shadow: #111314 0px 0px 4px; behavior: url(../js/PIE.htc); margin-top:30px; }
.wrapper .primary-content .small-gallery .inner { width:592px; float:left; padding:20px 15px; background:url(../img/tango_natural_logo_small.png) no-repeat right top; }
.wrapper .primary-content .small-gallery .inner .title { width:100%; float:left; padding:0; }
.wrapper .primary-content .small-gallery .inner .title h2 { width:300px; float:left; color:#fff; font-size:18px; }
.wrapper .primary-content .small-gallery .inner .title a { float:right; font-size:10px; color:#fff; font-family:Arial, Helvetica, sans-serif; text-decoration:none; }
.wrapper .primary-content .small-gallery .inner .title a:hover { color:#728594; }
.wrapper .primary-content .small-gallery .inner ul { width:100%; float:left; padding-top:20px; }
.wrapper .primary-content .small-gallery .inner ul li { float:left; display:block; padding-right:18px; }
.wrapper .primary-content .small-gallery .inner ul li.last { padding:0; }
.wrapper .primary-content .small-gallery .inner ul li a { float:left; }
.wrapper .primary-content .small-gallery .inner ul li a img { float:left; border:1px solid #3e4953; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; -webkit-box-shadow: #111314 0px 0px 4px; -moz-box-shadow: #111314 0px 0px 4px; box-shadow: #111314 0px 0px 4px; behavior: url(../js/PIE.htc); }
.wrapper .primary-content .small-gallery .inner ul li a:hover img { border:1px solid #89939b; }


/* Gallery */
.wrapper .primary-content ul.gallery-list { width:100%; float:left; padding-top:50px; }
.wrapper .primary-content ul.gallery-list li { float:left; display:block; padding:0 18px 20px 0; }
.wrapper .primary-content ul.gallery-list li.last { padding-right:0; }
.wrapper .primary-content ul.gallery-list li a { float:left; }
.wrapper .primary-content ul.gallery-list li a img { float:left; border:1px solid #787d84; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; -webkit-box-shadow: #111314 0px 0px 4px; -moz-box-shadow: #111314 0px 0px 4px; box-shadow: #111314 0px 0px 4px; behavior: url(../js/PIE.htc); }

/* FAQ */
.wrapper .primary-content ul.faq-list { width:100%; float:left; }
.wrapper .primary-content ul.faq-list li { width:100%; float:left; display:block; }
.wrapper .primary-content ul.faq-list li h2 { width:100%; color:#fff; float:left; padding-bottom:10px; }
.wrapper .primary-content ul.faq-list li h2 a { color:#fff; text-decoration:none; font-size:18px; }
.wrapper .primary-content ul.faq-list li h2 a:hover { color:#4d718f; }
.wrapper .primary-content ul.faq-list li span { width:100%; float:left; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#fff; line-height:18px; }

/* Youtube index */
.wrapper .youtube-block { width:560px; float:left; background:url(../img/bg_transparent17.png) repeat left top; border:1px solid #16212b; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; -webkit-box-shadow: #111314 0px 0px 4px; -moz-box-shadow: #111314 0px 0px 4px; box-shadow: #111314 0px 0px 4px; behavior: url(../js/PIE.htc); padding:10px; position:relative; margin-bottom:35px; }

.wrapper .youtube-block ul.ui-tabs-nav { 	position:absolute; 
	top:10px;
	left:10px; 
	list-style:none; 
	padding:0; margin:0; 
	width:140px; 
}
.wrapper .youtube-block ul.ui-tabs-nav li { width:100%; float:left; display:block; background:url(../img/sep02.png) repeat-x left bottom; }
.wrapper .youtube-block ul.ui-tabs-nav li a span { width:100%; float:left; font-family:Arial, Helvetica, sans-serif; font-size:10px; font-style:italic; color:#728594; }
.wrapper .youtube-block ul.ui-tabs-nav li a h3 { width:100%; float:left; font-size:13px; color:#728594; }
.wrapper .youtube-block li.ui-tabs-nav-item a { text-decoration:none; float:left; width:100%; padding:15px 0; }
.wrapper .youtube-block li.ui-tabs-nav-item a:hover { color:#fff; background:url(../img/bg_transparent17.png) repeat left top; }
.wrapper .youtube-block li.ui-tabs-selected { color:#fff; background:url(../img/bg_transparent17.png) repeat left top; }
.wrapper .youtube-block ul.ui-tabs-nav li.ui-tabs-selected a { color:#fff; background:url(../img/bg_transparent17.png) repeat left top; }
.wrapper .youtube-block .ui-tabs-panel{ 
	width:400px; height:301px; position:relative; float:right; border:1px solid #16212b; }
.wrapper .youtube-block .ui-tabs-panel .info{ 
	position:absolute; 
	top:180px; left:0; 
	height:70px; 
	background: url('images/transparent-bg.png'); 
}
.wrapper .youtube-block .info h2{ 
	font-size:18px; font-family:Georgia, serif; 
	color:#fff; padding:5px; margin:0;
	overflow:hidden; 
}
.wrapper .youtube-block .info p{ 
	margin:0 5px; 
	font-family:Verdana; font-size:11px; 
	line-height:15px; color:#f0f0f0;
}
.wrapper .youtube-block .info a{ 
	text-decoration:none; 
	color:#fff; 
}
.wrapper .youtube-block .info a:hover{ 
	text-decoration:underline; 
}
.wrapper .youtube-block .ui-tabs-hide{ 
	display:none; 
}

.wrapper .youtube-block .more-video { width:100%; float:left; text-align:right; padding-top:5px; }
.wrapper .youtube-block .more-video a { font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#fff; text-decoration:none; }
.wrapper .youtube-block .more-video a:hover { color:#728594; }


/* News index */
.wrapper .news-index { width:340px; float:right; background:url(../img/tango_natural_logo_large.png) no-repeat right top; height:340px; }
.wrapper .news-index h2 { width:100%; float:left; font-size:24px; color:#94b0c6; }
.wrapper .news-index ul { width:100%; float:left; }
.wrapper .news-index ul li { width:100%; float:left; display:block; background:url(../img/sep02.png) repeat-x left bottom; padding:20px 0 10px 0; }
.wrapper .news-index ul li h3 { width:100%; float:left; color:#fff; }
.wrapper .news-index ul li h3 a { font-size:15px; color:#fff; }
.wrapper .news-index ul li p { width:100%; float:left; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#728594; line-height:18px; padding:5px 0; }
.wrapper .news-index ul li a.more { float:right; font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#fff; text-decoration:none; }
.wrapper .news-index ul li a.more:hover { color:#728594; }

/* News index */
.wrapper .news-index2 { width:100%; float:left; background:url(../img/tango_natural_logo_large.png) no-repeat right top; height:340px; }
.wrapper .news-index2 h2 { width:100%; float:left; font-size:24px; color:#94b0c6; }
.wrapper .news-index2 ul { width:100%; float:left; }
.wrapper .news-index2 ul li { width:100%; float:left; display:block; background:url(../img/sep02.png) repeat-x left bottom; padding:20px 0 10px 0; }
.wrapper .news-index2 ul li h3 { width:100%; float:left; }
.wrapper .news-index2 ul li h3 a { font-size:15px; color:#fff; }
.wrapper .news-index2 ul li p { width:100%; float:left; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#728594; line-height:18px; padding:5px 0; }
.wrapper .news-index2 ul li a.more { float:right; font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#fff; text-decoration:none; }
.wrapper .news-index2 ul li a.more:hover { color:#728594; }


/* Blocks index */
.wrapper .blocks-index { width:580px; float:left; }

.wrapper .blocks-index .block-display { width:558px; float:left; background:url(../img/bg_block_index.png) repeat-x left top; border:1px solid #16212b; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; -webkit-box-shadow: #111314 0px 0px 4px; -moz-box-shadow: #111314 0px 0px 4px; box-shadow: #111314 0px 0px 4px; behavior: url(../js/PIE.htc); padding:18px 10px; margin-bottom:10px; position:relative; }
.wrapper .blocks-index .block-display p { width:100%; float:left; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#728594; line-height:18px; }
.wrapper .blocks-index .block-display p a { color:#fff; text-decoration:none; }
.wrapper .blocks-index .block-display p a:hover { color:#728594; }
.wrapper .blocks-index .block-display p.pad { padding-top:15px; }
.wrapper .blocks-index .block-display .tag { width:85px; height:83px; background:url(../img/tag_novi_upis.png) no-repeat left top; position:absolute; top:-50px; left:-28px;}
.wrapper .blocks-index .block-display h3 { width:100%; float:left; color:#fff; font-size:20px; }
.wrapper .blocks-index .block-display .sub-display { width:265px; float:left; }

/* Facebook like box */
.wrapper .facebook-like-box { width:365px; float:right; }
.wrapper .facebook-like-box h2 { width:100%; float:left; color:#fff; font-size:20px; padding-bottom:10px; }
.fbConnectWidgetTopmost{ border:0!important; border-width:0!important; }

/* Termini */
.wrapper .primary-content ul.termin { width:100%; float:left; padding-top:30px; }
.wrapper .primary-content ul.termin li { width:100%; float:left; display:block; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#fff; line-height:18px; }
.wrapper .primary-content ul.termin li h3 { font-size:17px; }
  #net_110_2_29_0_58_22 #ftr {
  margin-left:0;
}
/*THIS IS FROM default_nebojsa.css- END*/


/*THIS IS FROM .gitignore- BEGIN*/
*
!.gitignore

/*THIS IS FROM .gitignore- END*/


/*THIS IS FROM default_gavrilo.css- BEGIN*/

/*THIS IS FROM default_gavrilo.css- END*/


