<?php
/**
 * CMS-IDE Visual CMS
 *
 * @category   Layouts
 * @package    CMS-IDE
 *  Copyright (C) 2010-2021  Nebojsa Tomic
 *  
 *  This file is part of CMS-IDE.
 *     
 *  CMS-IDE is free software; you can redistribute it and/or
 *  modify it under the terms of the GNU Lesser General Public
 *  License as published by the Free Software Foundation; either
 *  version 3 of the License, or (at your option) any later version.
 *
 *  CMS-IDE is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 *  Lesser General Public License for more details.
 *
 *  You should have received a copy of the GNU Lesser General Public
 *  License along with this library; if not, write to the Free Software
 *  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301  USA
 *
 * 
 * 
 */
 ?>
<?php

//print_r($this->cols );
foreach ($this->cols as $col ) {
$colone[] = $col['Field'];
}

$xml = <<<XML
<rows>
<page>1</page>
<total>2</total>
<records>13</records>
XML;

foreach ($this->data as $data) {


    $xml .= '<row id="' .$data[$colone[0]] . '"><select><option>';
    // foreach column
    //$i = 1;
    foreach ($colone as $kolona) {
    $xml .= '<cell>' . $data[$kolona] . '</cell>';
    //$i++;
    //$xml .= '<cell>' . $data['name'] . '</cell>';
    //$xml .= '<cell>' . $data['message'] . '</cell>';
    //$xml .= '<cell>' . $data['contact'] . '</cell>';
   } 
    
    $xml .= '</option></select></row>';
}

$xml .= "</rows>" ;   


echo $xml;
//print_r($colone );