@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-error {
  @apply text-neutral-content !important;
}
/* override Thickbox values */
#TB_ajaxContent {
  @apply bg-primary pb-32;
  height: 100dvh !important; /* override values set with javascript from thickbox.js */
  width: 100% !important;
}
#TB_window a, #TB_window a:visited, #TB_window a:link {
	@apply btn-primary text-base-content;
}
#TB_window a:hover {
  @apply text-neutral;
}
#TB_window a.btn:hover {
  @apply text-white;
}
#TB_window a#close-manage-all-pages{
  @apply btn-error text-neutral-content hover:text-white !important;
}
#TB_title {
  @apply grid bg-neutral-content  !important;
}
#TB_ajaxWindowTitle {
  @apply w-full shadow-lg text-center font-bold;
}
#TB_closeAjaxWindow {
  @apply hidden;
}

/* override jqueryui values */
.ui-tab-button {
  @apply btn btn-sm btn-ghost bg-none bg-primary !important;
}
.ui-tab-button a {
  @apply text-white !important;
}
.ui-tab-button.ui-state-active {
  @apply bg-none bg-secondary !important;
}
.ui-dialog-titlebar.ui-widget-header {
  @apply bg-none bg-neutral-content border-0 !important;
}
.ui-dialog {
  @apply shadow-lg bg-neutral-content !important;
}

/* with selecting the specific div inside template or page, user should be able to insert a new object directly into it */
#droppable * {
  @apply border border-dashed border-transparent !important;
}
#droppable *:hover {
  @apply border border-dashed border-lime-800 !important;
}
#droppable *.selected-for-append {
  @apply border border-dashed border-red-500 !important;
}
/* this marks the specific div to be visible as the div where the new object is to be appended */

#containerRadnePovrsine.full-width {
  @apply sm:col-span-12 md:col-span-12 lg:col-span-12  !important;
}

.btn-search {
  @apply btn btn-sm bg-accent absolute top-0 right-0 w-8 !important;
  background-image: url( '/images/search.svg' );
  @apply bg-center bg-no-repeat bg-contain;
}
#what-label, #submitSearch-label {
  @apply hidden;
}
/* fullscreen elements adjust */
.cssjswrapp.fs, .cssjswrapp2.fs, #selected-object-html-wrapper.fs {
  @apply overflow-y-auto p-4 !important;
}
#selected-object-html-wrapper.fs textarea {
  @apply h-dvh;
}
/* override ui-autocomplete */
.ui-autocomplete {
  @apply bg-neutral-content text-lg font-semibold w-full h-auto max-h-96 px-4 left-0 overflow-auto !important;
}
.ui-autocomplete .ui-menu-item a {
  @apply flex w-full px-2 text-lg border-0 font-semibold bg-transparent hover:font-semibold cursor-pointer !important;
}
.ui-autocomplete .ui-menu-item a.ui-state-focus {
  background: transparent;
  @apply text-accent;
}

/* menus */
.submenu-pointer {
  @apply bg-center bg-no-repeat bg-contain;
  background-image: url( '/images/submenu-pointer.svg' );
}
.treeview a {
  @apply relative px-2 rounded;
  @apply hover:text-accent !important;
}

/* Typography */
.prose {
  max-width: 100%;
}
.prose :where(dd):not(:where([class~="not-prose"], [class~="not-prose"] *)){
  margin-top: initial;
  padding-inline-start: initial;
}
