@import "tailwindcss";
@plugin "daisyui";

body {
  @apply font-['Arial'] text-sm;
}

select:not(.paginationStep) { display: none; }

.btn:is(input[type="radio"]:checked) {
  @apply bg-primary! text-primary-content;
}
.table {
  @apply rounded-none;
}
/* coloris */
.clr-field {
  @apply z-[1];
}
.clr-field button {
  @apply z-[9];
}
/* override Thickbox values */
#TB_window {
  @apply top-12 z-[999998];
}
#TB_ajaxContent {
  @apply bg-base-200 p-4 pb-32 overflow-scroll;
  height: 100dvh !important; /* override values set with javascript from thickbox.js */
  width: 100% !important;
}

#TB_window td a:hover {
  @apply text-neutral;
}

#TB_window a#close-manage-all-pages{
  @apply btn-error!;
}
#TB_title {
  @apply grid bg-neutral text-neutral-content!;
}
#TB_ajaxWindowTitle {
  @apply w-full shadow-lg text-center font-bold pt-2 pb-2;
}
#TB_closeAjaxWindow {
  @apply hidden;
}

/* override jqueryui values */
.ui-tabs-panel {
  @apply p-4 text-sm;
}
.ui-tab-button {
  @apply btn! btn-sm! btn-neutral!;
  @apply p-0! grid place-items-stretch;
}
.ui-tab-button a {
  @apply grid w-full h-full content-center text-neutral-content text-sm;
}
.ui-tab-button.ui-state-active {
  @apply bg-none! bg-primary!;
}
.ui-tab-button.ui-state-active * {
  @apply btn-primary! text-primary-content;
}
.ui-dialog-titlebar.ui-widget-header {
  @apply bg-none! bg-neutral! text-neutral-content! border-0!;
}
.ui-dialog {
  @apply shadow-lg! bg-base-100!;
}

.ui-dialog-titlebar {
  @apply relative p-2 font-bold z-[999] cursor-move bg-neutral text-neutral-content text-sm;
}
#dialogDiv, .dialogDiv {
  @apply p-4 border-0!;
}
.ui-dialog-titlebar-close {
  @apply btn btn-error absolute top-0 right-0 w-4 h-4 text-white cursor-pointer;
}
.ui-icon-closethick::before {
  @apply content-['x'];
}
/* with selecting the specific div inside template or page, user should be able to insert a new object directly into it */
#droppable * {
  /*@apply border border-dashed border-transparent !important;*/
}
#droppable *:hover {
  @apply outline outline-[1px] outline-dashed -outline-offset-2 outline-accent;
}
#droppable *.selected-for-append {
  @apply outline! outline-[4px]! outline-dashed! -outline-offset-4! outline-accent!;
}
/* this marks the specific div to be visible as the div where the new object is to be appended */

#container-workspace.full-width {
  @apply sm:col-span-12! md:col-span-12! lg:col-span-12!;
}

.btn-search {
  @apply btn btn-sm bg-accent absolute top-0 right-0 w-8!;
  background-image: url( '/images/search.svg' );
  @apply bg-center bg-no-repeat bg-contain;
}
#what-label, #submitSearch-label {
  @apply hidden;
}
/* fullscreen elements adjust */
.cssjswrapp.fs, .cssjswrapp2.fs, #selected-object-html-wrapper.fs {
  @apply overflow-y-auto! p-4!;
}
#selected-object-html-wrapper.fs textarea {
  @apply h-dvh;
}
/* override ui-autocomplete */
.ui-autocomplete {
  @apply bg-neutral-content text-lg font-semibold w-full h-auto max-h-96 px-4 left-0 overflow-auto!;
}
.ui-autocomplete .ui-menu-item a {
  @apply flex w-full px-2 text-lg border-0 font-semibold bg-transparent hover:font-semibold cursor-pointer!;
}
.ui-autocomplete .ui-menu-item a.ui-state-focus {
  background: transparent;
  @apply text-accent;
}

/* menus */
.submenu-pointer {
  @apply bg-center bg-no-repeat bg-contain;
  background-image: url( '/images/submenu-pointer.svg' );
}
.treeview a {
  @apply relative px-2 rounded no-underline;
  @apply hover:text-accent!;
}
.treeview a.selected {
  @apply bg-accent! text-accent-content!;
}
.treeview a.selected:hover {
  @apply text-accent!;
}
/* override borders */
.input:focus{
  @apply outline-none;
}

/* override ZendForm's unwanted elements */
#contactForm-element legend, #to-label, #to-element, #formID-label, #formID-element, #contactForm-label{
  @apply hidden;
}

/* Typography */
.prose {
  max-width: 100%;
}
.prose :where(dd):not(:where([class~="not-prose"], [class~="not-prose"] *)){
  margin-top: initial;
  padding-inline-start: initial;
}
/* fix ace-editor cursor misplacement */
#pageCSS-ace *, #pageJS-ace *, #objectHTML-ace * {
  font: 0.8rem/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'Source Code Pro', 'source-code-pro', monospace !important;
}