<?php
/**
 * CMS-IDE Visual CMS
 *
 * @category   Layouts
 * @package    CMS-IDE
 *  Copyright (C) 2010-2021  Nebojsa Tomic
 *  
 *  This file is part of CMS-IDE.
 *     
 *  CMS-IDE is free software; you can redistribute it and/or
 *  modify it under the terms of the GNU Lesser General Public
 *  License as published by the Free Software Foundation; either
 *  version 3 of the License, or (at your option) any later version.
 *
 *  CMS-IDE is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 *  Lesser General Public License for more details.
 *
 *  You should have received a copy of the GNU Lesser General Public
 *  License along with this library; if not, write to the Free Software
 *  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301  USA
 *
 * 
 * 
 */
 ?>
<?php echo $this->formAddMenu;
?>
<script type="text/javascript">

$('#addMenuForm').ajaxForm(function(data){
    
    mn = $('#newMenuName').attr("value");
    $('#dialogDiv').remove();

    jsin = eval("(" + data + ")" );
    menuItemId = jsin["out"]["menuItemId"] ;
    menuMessage = jsin["out"]["message"] ;
    
    //TREBA DODATI VALUE DA BI SE UPDATOVAO ID UNESENOG MENIJA
    //alert(data + " *<?php echo $this->menuName;?>"); 
    $('#menuName').append('<option value="' + menuItemId + '">' +  mn + "</option>");
    $('#menuNameAssign').append('<option value="' + menuItemId + '">' +  mn + "</option>");
    
    //messages in ajaxevent
    ajaxEmitMessage(menuMessage);
    setTimeout("clickMask()", 1000); //closing all  

    
}, "json");
</script>