<?php
/**
 * CMS-IDE Visual CMS
 *
 * @category   Layouts
 * @package    CMS-IDE
 *  Copyright (C) 2010-2021  Nebojsa Tomic
 *  
 *  This file is part of CMS-IDE.
 *     
 *  CMS-IDE is free software; you can redistribute it and/or
 *  modify it under the terms of the GNU Lesser General Public
 *  License as published by the Free Software Foundation; either
 *  version 3 of the License, or (at your option) any later version.
 *
 *  CMS-IDE is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 *  Lesser General Public License for more details.
 *
 *  You should have received a copy of the GNU Lesser General Public
 *  License along with this library; if not, write to the Free Software
 *  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301  USA
 *
 * 
 * 
 */
 ?>
<?php
echo $this->form;
?>
<script type="text/javascript">
$('#addMenuItemSubmit').one('click', function (evt) {
    /* prevent default action */
    evt.preventDefault();
    /* code to be executed once */
    /**
     * disable default action (this handler will be attached after first 
     * submit event and it will prevent any further submit action
     */
     $(this).closest('form').ajaxForm(function(data){
        //submiting addmenu item form

            $('#dialogDiv').remove();
            $('#menuName').change();
            
            ajaxEmitMessage(data);
            setTimeout("clickMask()", 1000); //closing all          
        evt.preventDefault();
        return false;
        
     });

});
</script>
<script type="text/javascript">
/*        //submiting addmenu item form
        $('#addMenuItemForm').ajaxForm(function(data){
            $('#dialogDiv').remove();
            $('#menuName').change();
            
            ajaxEmitMessage(data);
            setTimeout("clickMask()", 1000); //closing all 
        });  
        */
</script>